= simple_form_for @output_task, html: { class: "form-horizontal" } do |f|
  .container
    .row
      .col-md-8
        .form-group
          %label.col-xs-2.control-label Start Date *
          .col-xs-4
            .controls
              = f.text_field :start_date, data: { :date_format => 'YYYY-MM-DD' }, :class => 'form-control date_pick', placeholder: 'Year-Month-Day', error_html: { class: "err_msg" }
          %label.col-xs-2.control-label End Date *
          .col-xs-4
            .controls
              = f.text_field :end_date, data: { :date_format => 'YYYY-MM-DD' }, :class => 'form-control date_pick', placeholder: 'Year-Month-Day', error_html: { class: "err_msg" }
        .form-group
          %label.col-xs-2.control-label.text-left Farm *
          .col-xs-4
            = f.input :farm_id, collection: Farm.all.map{ |p| [p.name, p.uuid] }, label: false, input_html: {class: "form-control"}, error_html: {class: "err_msg"}
          %label.col-xs-2.control-label.text-left Zone *
          .col-xs-4
            - if params[:output_task].nil? || params[:output_task][:farm_id].nil? || params[:output_task][:farm_id]==""
              = f.input :zone_id, collection: Zone.none, label: false, input_html: {class: "form-control", disabled: "disabled"}, error_html: {class: "err_msg"}
            - else
              = f.input :zone_id, collection: Zone.where(farm_id: params[:output_task][:farm_id]), label: false, input_html: {class: "form-control"}, error_html: {class: "err_msg"}
        .form-group
          %label.col-xs-2.control-label.text-left Area *
          .col-xs-4
            - if params[:output_task].nil? || params[:output_task][:zone_id].nil? || params[:output_task][:zone_id]==""
              = f.input :area_id, collection: Area.none, label: false, input_html: {class: "form-control", disabled: "disabled"}, error_html: {class: "err_msg"}
            - else
              = f.input :area_id, collection: Area.where(zone_id: params[:output_task][:zone_id]), label: false, input_html: {class: "form-control"}, error_html: {class: "err_msg"}
          %label.col-xs-2.control-label.text-left Block *
          .col-xs-4
            - if params[:output_task].nil? || params[:output_task][:area_id].nil? || params[:output_task][:area_id]==""
              = f.input :block_id, collection: Block.none, label: false, input_html: {class: "form-control", disabled: "disabled"}, error_html: {class: "err_msg"}
            - else
              = f.input :block_id, collection: Block.where(area_id: params[:output_task][:area_id]), label: false, input_html: {class: "form-control"}, error_html: {class: "err_msg"}
        .form-group
          %label.col-xs-2.control-label.text-left Project *
          .col-xs-4
            = f.input :planting_project_id, label: false, input_html: {class: "form-control planting_project_id"}, error_html: {class: "err_msg"}, as: :hidden
            - if params[:output_task].nil? || params[:output_task][:planting_project_id].nil? || params[:output_task][:planting_project_id]==""
              %input.form-control.planting_project_name{:type => "text", readonly: true }
            - else
              %input.form-control.planting_project_name{:readonly => "true", :type => "text", :value => PlantingProject.find_by_uuid(params[:output_task][:planting_project_id]).name}/
          %label.col-xs-2.control-label.text-left Tree amount *
          .col-xs-4
            = f.input :tree_amount, label: false, input_html: { class: "form-control tree_amount" }, error_html: {class: "err_msg"}
          
        .form-group
          %label.col-xs-2.control-label.text-left App Name *
          .col-xs-10
            - if params[:output_task].nil? || params[:output_task][:planting_project_id].nil? || params[:output_task][:planting_project_id]==""
              = f.input :name, collection: App.none, label: false, input_html: {class: "form-control"}, error_html: {class: "err_msg"}
            - else
              = f.input :name, collection: App.where(planting_project_id: params[:output_task][:planting_project_id], app_type: "OUTPUT"), label: false, input_html: { class: "form-control" }, error_html: {class: "err_msg"}
        
        .form-group
          %label.col-xs-2.control-label.text-left Labor *
          .col-xs-9
            = f.association :labor, label: false, input_html: {class: "form-control"}, error_html: {class: "err_msg"}
          .col-xs-1
            = link_to add_new_labor_out_task_path, :remote => true, class: 'btn btn-primary btn-add', title: "Add new labor" do
              %i.fa.fa-plus-circle
          
        .form-group
          %label.col-xs-2.control-label.text-left Reference No *
          .col-xs-10
            = f.input :reference_number, label: false, input_html: { class: "form-control" }, error_html: {class: "err_msg"}
          
        .form-group
          %label.col-xs-2.control-label.text-left Equipments
          .col-xs-10
            = f.select :equipments, options_for_select("Select items"), { include_blank: true }, { class: 'chosen-select-equipment form-control item-select-equipments', multiple: false }
            = hidden_field_tag 'equipments', ''
        
        .form-group
          %label.col-xs-2.control-label.text-left Note
          .col-xs-10
            = f.input :note, label: false, input_html: { class: "form-control" }
          %span.help-block= f.error :note  
        
        .form-group#distribution
          - if !params[:output_task].nil? && !params[:output_task][:block_id].nil? && params[:output_task][:block_id]!="" && !params[:output_task][:planting_project_id].nil? && params[:output_task][:planting_project_id]!=""
            %h3= "Distribution - "+PlantingProject.find_by_uuid(params[:output_task][:planting_project_id]).name
            %hr
            - @dis_index = 0
            - Distribution.where(planting_project_id: params[:output_task][:planting_project_id]).order("order_of_display ASC").each do |d|
              .form-group
                %label.col-xs-3.control-label.text-left= d.label
                - d.uoms.split(",").each do |uom|
                  .col-xs-4
                    .input-group
                      .input.float.required
                        %input.numeric.float.required.form-control{type: "number", step: "any", name: "distribution_amounts[]", value: params[:distribution_amounts][@dis_index]}/
                        %input{type: "hidden", name: "distribution_ids[]", :value => d.uuid}/
                        %input{type: "hidden", name: "uom_ids[]", :value => uom.split("|").first}/
                      %span.input-group-addon= uom.split("|").second
                  - @dis_index += 1
        
        .form-group
          .col-xs-7
            = f.input :created_by, :as => :hidden, input_html: { value: current_user.uuid }
          %span.help-block= f.error :created_by  
        .form-group
          .col-xs-12
            .pull-right
              = render partial: 'form_button', locals: { f: f }
      .col-md-4
        = render "error", :obj => @output_task
.form-modal
- content_for :javascript_body do
  = javascript_include_tag "output_tasks"
