%table.table
  %thead
    %tr
      %th= "Start Date"
      %th= "End Date"
      %th= "Task Name"
      %th= "Reference"
      %th= "Farm - Block"
      %th= "Tree Amount"
      %th= "Total Output"
      %th= "Finish Output"
      %th= "Nursery Output"
      %th= "Spoiled"
  - @output_tasks.each do |output_task|
    %tr
      / %td= output_task.start_date
      / %td= output_task.end_date
      / %td= output_task.name
      / %td= output_task.reference_number
      / %td= output_task.block.farm.name.to_s + " - " + output_task.block.name
      / %td= output_task.tree_amount
      / %td= output_task.output_amount
      / %td= output_task.production.planting_project.name + " " + output_task.production.status + " (" + output_task.finish_amount
      / %td= output_task.production.planting_project.name + " " + output_task.production.status + " (" + output_task.finish_amount
      / %td= link_to "View", output_task_path(output_task)

.pull-right
  = paginate @output_tasks