%h3 Output Task Information
%div
  %table.table
    %tr
      %th.col-xs-3.header-title Fields
      %th.col-xs-9.header-title Informations
    %tr
      %th Task Name
      %td= @output_task.name
    %tr
      %th Start date
      %td= @output_task.start_date.to_s
    %tr
      %th End date
      %td= @output_task.end_date.to_s
    %tr
      %th Farm - Zone - Area - Block
      %td= @output_task.block.farm.name + " - " + @output_task.zone.name + " - " + @output_task.block.area.name + " - " + @output_task.block.name
    %tr
      %th Planting Project
      %td= @output_task.planting_project.name
    %tr
      %th Tree amount
      %td= @output_task.tree_amount
    %tr
      %th Labor
      %td= @output_task.labor.name
    %tr
      %th Reference Number
      %td= @output_task.reference_number
    %tr
      %th Equipments
      %td
        - @output_use_equipments.each do |e|
          = Equipment.find_by_uuid(e.equipment_id).name
          %br
    %tr
      %th Note
      %td= @output_task.note

%br
%h3
  = "Distribution - " + @output_task.planting_project.name
%hr
- @temp = ""
- @output_task.output_distributions.each do |od|
  - if @temp != od.distribution.label
    .row
      .col-xs-1
      %span.custom-label.col-xs-3= od.distribution.label
      .custom-value.col-xs-4
        = od.amount.to_s + " ( " + od.unit_of_measurement.name + " )"
  - else
    .row
      .col-xs-1
      .col-xs-3
      .custom-value.col-xs-4
        = od.amount.to_s + " ( " + od.unit_of_measurement.name + " )"
  - @temp = od.distribution.label
  
.row{:style => "padding-top:20px;"}
  .col-xs-12
    .pull-right
      = link_to "Cancel", :back, class: "btn btn-default"

:css
  .custom-value {
    border-bottom: 1px solid #BDB1B1;
    background-color: #f0f0f0;
    padding-top: 15px;
  }
  .custom-label {
    font-weight: bold;
    border-bottom: 1px solid #BDB1B1;
    padding-top: 15px;
  }
  .header-title{
    font-size: 16px;
  }
