.row
  %h1 Output Task Information
  %hr
  .row
    .col-xs-1
    %span.custom-label.col-xs-2 Start Date
    .custom-value.col-xs-8= @output_task.start_date.to_s
  .row
    .col-xs-1  
    %span.custom-label.col-xs-2 End date
    .custom-value.col-xs-8= @output_task.end_date.to_s
  .row
    .col-xs-1
    %span.custom-label.col-xs-2 Task
    .custom-value.col-xs-8= @output_task.name
  .row
    .col-xs-1
    %span.custom-label.col-xs-2 Block Name
    .custom-value.col-xs-8= @output_task.block.name
  .row
    .col-xs-1
    %span.custom-label.col-xs-2 Planting Project
    .custom-value.col-xs-8= @output_task.planting_project.name
  .row
    .col-xs-1
    %span.custom-label.col-xs-2 Tree amount
    .custom-value.col-xs-8= @output_task.tree_amount
  .row
    .col-xs-1
    %span.custom-label.col-xs-2 Labor name
    .custom-value.col-xs-8= @output_task.labor.name
  .row
    .col-xs-1
    %span.custom-label.col-xs-2 Reference Number
    .custom-value.col-xs-8= @output_task.reference_number
  .row
    .col-xs-1
    %span.custom-label.col-xs-2 Note
    .custom-value.col-xs-8= @output_task.note=""?"...":@output_task.note
  %br
  %h3
    = "Distribution - " + @output_task.planting_project.name
  %hr
  - @temp = ""
  - @output_task.output_distributions.each do |od|
    - if @temp != od.distribution.label
      .row
        .col-xs-1
        %span.custom-label.col-xs-2= od.distribution.label
        .custom-value.col-xs-4
          = od.amount.to_s + " ( " + od.unit_of_measurement.name + " )"
    - else
      .row
        .col-xs-1
        .col-xs-2
        .custom-value.col-xs-4
          = od.amount.to_s + " ( " + od.unit_of_measurement.name + " )"
    - @temp = od.distribution.label
    
  .row{:style => "padding-top:20px;"}
    .col-xs-12
      .pull-right
        = link_to "Cancel", :back, class: "btn btn-default"

:css
  .custom-value {
    border-bottom: 1px solid black;
    background-color: #f0f0f0;
    padding-top: 15px;
  }
  .custom-label {
    font-weight: bold;
    border-bottom: 1px solid black;
    padding-top: 15px;
  }
