= simple_form_for @production_stage, html: { class: "form-horizontal" } do |f|
  .form-group
    %label.col-xs-2.control-label Name
    .col-xs-5
      = f.input :name, label: false, input_html: { class: "form-control" }, error_html: {class: "err_msg"}
    %span.help-block= f.error :name
  .form-group
    %label.col-xs-2.control-label.text-left Production Phase *
    .col-xs-5
      = f.association :phase, label: false, input_html: {class: "form-control"}, error_html: {class: "err_msg"}
    %span.help-block= f.error :phase_id   
  .form-group
    %label.col-xs-2.control-label Note
    .col-xs-5
      = f.input :note, label: false, input_html: { class: "form-control" }
      %span.help-block= f.error :note
  .form-group
    %label.col-xs-2.control-label Active
    .col-xs-5
      = f.input :active, label: false
      %span.help-block= f.error :active
  .form-group
    .col-xs-7
      .pull-right
        = render partial: 'form_button', locals: { f: f }
