= simple_form_for @production_stage, html: { class: "form-horizontal" } do |f|
  .container
    .row
      .col-md-8
        .form-group
          %label.col-xs-2.control-label Name *
          .col-xs-9
            = f.input :name, label: false, error: false, input_html: { class: "form-control" }
        .form-group
          %label.col-xs-2.control-label.text-left Product Phase *
          .col-xs-9
            = f.association :phase, label: false, error: false, input_html: {class: "form-control"}
        .form-group
          %label.col-xs-2.control-label Note
          .col-xs-9
            = f.input :note, label: false, input_html: { class: "form-control" }
        .form-group
          %label.col-xs-2.control-label Active
          .col-xs-9
            = f.input :active, label: false
        .form-group
          .col-xs-11
            .pull-right
              = render partial: 'form_button', locals: { f: f }
      .col-md-4
        = render "error", :obj => @production_stage
             
