#myModalAdd.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", "data-backdrop"=>"static"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#myModalLabel.modal-title Add New Farm
      .modal-body
        = form_for(@farm, remote: true, html: {role: :form, 'data-model' => 'farm', :class => "form-horizontal"}) do |f|
          .modal-body.custom-modal-body
            #notice
            .form-group
              = f.label :name, class: 'col-xs-2 control-label'
              .col-xs-10
                = f.text_field :name, class: 'form-control', placeholder: 'Farm Name'
                .msg-farm-name.alert-danger{:role => "alert"}
            .form-group
              = f.label :location, class: 'col-xs-2 control-label'
              .col-xs-10
                = f.text_field :location, class: 'form-control', placeholder: 'Location Address'
                .msg-farm-location-name.alert-danger{:role => "alert"}
            .form-group
              %label.col-xs-2.control-label Coodornate
              .col-xs-10
                = f.text_field :latlong_farm, class: 'form-control', placeholder: 'Latitude - Longitude', :readonly => true
            .form-group
              .col-xs-12
                #map-farm
          .modal-footer.custom-modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
            = f.submit :class => "btn btn-primary"