- if farms.blank?
  .jumbotron.text-center No Farms
- farms.each do |farm|
  .col-sm-4{id: "farm_#{farm.uuid}"}
    .box-farm-info
      .page-header.custom-page-header
        %h4.custom-h4
          = link_to farm.name.camelize, farm_blocks_path(farm), :class => "text-color-green"
          .pull-right
            - if farm.active
              = link_to edit_farm_path(farm), remote:true, :class => "icon-orangish" do
                .fa.fa-pencil
              = link_to farm_path(farm), remote:true, method: :delete, :class => "icon-red", data: { confirm: 'Are you sure to delete this?', ok: 'Delete', cancel: 'Back'} do
                .fa.fa-trash
            - else
              = link_to restore_farms_farms_path(farm), remote:true, method: :get, :class => "icon-green", data: { confirm: 'Are you sure to restore this?', ok: 'Restore', cancel: 'Back'} do
                .fa.fa-recycle
      .row
        .col-lg-12.map-info
          = link_to farm_blocks_path(farm) do
            .thumbnail.custom-thumbnail
              %img.map{:src => "https://maps.googleapis.com/maps/api/staticmap?center=#{farm.latlong_farm}&zoom=15&size=180x125&scale=2&maptype=satellite&markers=color:red|#{farm.latlong_farm}"}
          </haml:block>
      .row
        .col-lg-12.farm-info
          %div
            Planting Project:
            - farm.blocks.select(:planting_project_id).distinct.each do |block|
              - if block.planting_project.name.downcase.eql? 'coconut'
                %span.label.label-success #{block.planting_project.name}
              - elsif block.planting_project.name.downcase.eql? 'jackfruit'
                %span.label.label-warning #{block.planting_project.name}
              - elsif block.planting_project.name.downcase.eql? 'mango'
                %span.label.custom-label-dark-yellow #{'Mango'}
              - elsif block.planting_project.name.downcase.eql? 'lemon'
                %span.label.custom-label-light-green #{'Lemon'}
          %div Surface: #{farm.blocks.sum(:surface)}
          %div Blocks Amount: #{farm.blocks.count}
          %div Tree Amount: #{farm.blocks.sum(:tree_amount)}
          %div Location: #{farm.location}
          %div
            %i.fa.fa-map-marker
            = farm.latlong_farm