
.row
  .col-lg-10.col-lg-offset-1
    - modal ||= false 
    - remote = modal ? true : false 
    = form_for(@farm, remote: remote, html: {role: :form, 'data-model' => 'farm', :class => "form-horizontal"}) do |f|
      .modal-body.custom-modal-body
        - if @farm.errors.any?
          #error_explanation
            %h2
              = pluralize(@farm.errors.count, "error")
              prohibited this farm from being saved:
            %ul
              - @farm.errors.full_messages.each do |message|
                %li= message
        .form-group
          = f.label :name, class: 'col-xs-4 control-label'
          .col-xs-8
            = f.text_field :name, class: 'form-control', placeholder: 'Farm Name'
        .form-group
          = f.label :location, class: 'col-xs-4 control-label'
          .col-xs-8
            = f.text_field :location, class: 'form-control', placeholder: 'Location Address'
        .form-group
          = f.label :latlong_farm, class: 'col-xs-4 control-label'
          .col-xs-8
            = f.text_field :latlong_farm, class: 'form-control', placeholder: 'Latitude - Longitude'

      .modal-footer.custom-modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
        = f.submit 'Save', :class => "btn btn-primary"