.page-header.custom-page-header
  %h3.custom-h3
    = 'All Farms Information'
    = link_to "(+) Add farm", "#new_farm_modal", class: "btn btn-xs btn-primary btn-add-farm", 'data-toggle' => 'modal'
.row{:style => "padding-left: 15px;margin:0px;"}
  - @farms.each do |farm|
    .col-sm-4
      .box-farm-info
        .page-header.custom-page-header
          %h4.custom-h4
            = link_to farm.name.camelize, farm_path(farm), :class => "text-color-green"
        .row
          .col-lg-12.map-info
            = link_to farm_path(farm) do
              .thumbnail.custom-thumbnail
                %img.map{:src => "https://maps.googleapis.com/maps/api/staticmap?center=#{farm.latlong_farm}&zoom=16&size=348x250&maptype=satellite&markers=color:red|#{farm.latlong_farm}"}/
            / .map{:id => "map-canvas-#{farm.uuid}"}
            </haml:block>
        .row
          .col-lg-12.farm-info
            %div Surface: #{farm.blocks.sum(:surface)}
            %div Blocks Amount: #{farm.blocks.count}
            %div Tree Amount: #{farm.blocks.sum(:tree_amount)}
            %div
              Planting Project:
              - farm.blocks.select(:planting_project_id).distinct.each do |block|
                - if block.planting_project.project_name.downcase.eql? 'coconut'
                  %span.label.label-success #{block.planting_project.project_name}
                - else
                  %span.label.label-warning #{block.planting_project.project_name}
            %div Location: #{farm.location}
            %div
              %i.fa.fa-map-marker
              = farm.latlong_farm
/ :javascript
/   var map;
/   function initialize() {
/     var myLatlng = new google.maps.LatLng(#{farm.latlong_farm});
/     var mapOptions = {
/       zoom: 16,
/       center: myLatlng,
/       disableDefaultUI: true,
/       scrollwheel: false,
/       navigationControl: false,
/       mapTypeControl: false,
/       scaleControl: false,
/       draggable: false,
/       mapTypeId: google.maps.MapTypeId.SATELLITE
/     };
/     map = new google.maps.Map(document.getElementById('map-canvas-#{farm.uuid}'), mapOptions);
/     var marker = new google.maps.Marker({
/       position: myLatlng,
/       map: map,
/       title: '#{farm.name}'
/     });
/   }
/   initialize();
/   // google.maps.event.addDomListener(window, 'load', initialize);

#myModal.modal.fade{:role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#exampleModalLabel.modal-title Farm Details
      = render 'form_modal', modal: true

/ - @farms.each do |farm|
/   = link_to "a farm", farm


