.page-header.custom-page-header
  %h3.custom-h3.icon-green
    .fa.fa-tree
    #{@farm.name}
    - if can? :create, Farm
      = link_to '(+) Add block', new_farm_block_path(@farm), :remote => true, class: 'btn btn-xs btn-primary btn-add'
      = link_to "#", :remote => true, class: 'btn btn-xs btn-primary' do
        .fa.fa-chain.fa-lg
        Link block
/ .row{:style => "padding-left: 15px;margin:0px;"}
/   - @farms.each do |farm|
/     .col-sm-4
/       .box-farm-info
/         .page-header.custom-page-header
/           %h4.custom-h4
/             = link_to farm.name.upcase, farm_path(farm), :class => "text-color-green"
/         .row
/           .col-lg-12.farm-info
/             %div Surface: #{@farms_amount}
/             %div Blocks Amount: #{58}
/             %div Planting Project: Coconut
/             %div Location: #{farm.location}
/             %div
/               %i.fa.fa-map-marker
/               = farm.latlong_farm
.row
  .col-lg-12
    #blocks-map.img-rounded
.row.farm-box-infowindow
  %div Surface: #{@farm.blocks.sum(:surface)}
  %div Blocks Amount: #{@farm.blocks.count}
  %div
    Planting Project:
    - @farm.blocks.select(:planting_project_id).distinct.each do |block|
      - if block.planting_project.name.downcase.eql? 'coconut'
        %span.label.label-success #{block.planting_project.name}
      - else
        %span.label.label-warning #{block.planting_project.name}
  %div Location: #{@farm.location}
  %div
    %i.fa.fa-map-marker
    %span.farm-latlong= "#{@farm.latlong_farm}"

.page-header.custom-page-header
  %h3.custom-h3
    .fa.fa-cubes.icon-brown
    All Blocks Information
.row
  - @farm.blocks.each do |block|
    .col-sm-3
      .box-farm-info
        .page-header.custom-page-header
          %h4.custom-h4
            = link_to block.name, "#", :class => "text-color-green"
        .row
          .col-lg-12.map-info
            = link_to "#" do
              .thumbnail.custom-thumbnail
                %img.map{:src => "https://maps.googleapis.com/maps/api/staticmap?center=#{block.location_lat_long}&zoom=17&size=348x250&scale=1&maptype=satellite&path=color:0xff0000ff|weight:1|fillcolor:0xFFFF0033|#{block.shape_lat_long.split("],[").join("|").gsub!(/[\[\]]/,'')}"}/
            / .map{:id => "map-canvas-#{farm.uuid}"}
            </haml:block>
        .row
          .col-lg-12.farm-info
            %div
              Planting Project:
              - if block.planting_project.name.downcase.eql? 'coconut'
                %span.label.label-success #{block.planting_project.name}
              - else
                %span.label.label-warning #{block.planting_project.name}
            %div Surface: #{block.surface}
            %div Tree Amount: #{block.tree_amount}
            %div
              %i.fa.fa-map-marker
              = block.location_lat_long
.form-modal
:javascript
  var latlongfarm = new google.maps.LatLng(#{@farm.latlong_farm});
  var map;
  mapOptions = {
        zoom: 17,
        center: latlongfarm,
        streetViewControl: false,
        panControl: false,
        mapTypeControl: false,
        mapTypeId: google.maps.MapTypeId.SATELLITE
      };
  map = new google.maps.Map(document.getElementById('blocks-map'), mapOptions);
  $("div.row.farm-box-infowindow").hide();
  var contentbox = $("div.row.farm-box-infowindow").get()[0].innerHTML;
  var infowindow = new google.maps.InfoWindow({
      content: contentbox,
      maxWidth: 600,
      zIndex: 10
  });
  var marker = new google.maps.Marker({
        position: latlongfarm,
        map: map,
  });
  google.maps.event.addListener(marker, 'click', function() {
    infowindow.open(map,marker);
  });
  infowindow.open(map, marker);
  var addListenersOnPolygon = function(polygon) {
    google.maps.event.addListener(polygon, 'click', function (event) {
      alert(polygon);
    });
  }
  
- @farm.blocks.each do |block|
  :javascript
    show_blocks = function() {
      var block_points = #{block.shape_lat_long};
      polypoints = [];
      for(i=0;i<block_points.length;i++){
        polypoints.push(new google.maps.LatLng(block_points[i][0],block_points[i][1]));
      }
      block = new google.maps.Polygon({
        paths: polypoints,
        strokeColor: '#ff0000',
        strokeOpacity: 0.8,
        strokeWeight: 1,
        fillColor: '#FFFF00',
        fillOpacity: 0.35
      });
      
      var bounds = new google.maps.LatLngBounds();
      for (i = 0; i < polypoints.length; i++) {
        bounds.extend(polypoints[i]);
      }
      var labelText = "#{block.name}";
      var myOptions = {
        content: labelText
        ,boxStyle: {
           border: "1px solid white"
          ,textAlign: "center"
          ,fontSize: "8pt"
          ,fontWeight: "bold"
          ,color: "white"
          ,width: "50px"
         }
        ,pixelOffset: new google.maps.Size(-25, 0)
        ,position: bounds.getCenter()
        ,disableAutoPan: true
        ,closeBoxURL: ""
        ,isHidden: false
        ,pane: "floatPane"
        ,enableEventPropagation: true
      };
      var ibLabel = new InfoBox(myOptions);
      ibLabel.open(map);
      block.setMap(map);
      addListenersOnPolygon(block);
    };
    show_blocks();