- @warehouses.each do |wh|
  .received-header{style: "word-spacing: 0px;font-weight:bolder;"}
    = "Warehouse: " + wh.name
  %hr
  %table.list_data_table
    %thead
      %tr
        %th.col-md-4= "Production Name"
        %th.col-md-3= "Planting Project"
        %th.col-md-4= "Qty In Stock"
        %th.col-md-1= "Action"
    %tbody
      - wh.warehouse_production_amounts.joins(:production).order("planting_project_id").each do |wh_a|
        %tr
          %td= wh_a.production.status
          %td= wh_a.production.planting_project.name
          %td
            = wh_a.amount
            = "("
            = wh_a.production.unit_of_measurement.name
            = ")"
          %td
            = link_to "Adjust", "production_adjustments/new/#{wh_a.uuid}"
        
  %div{style: "height: 35px;"}
:javascript
  $(document).ready(function() {
    $('.list_data_table').DataTable({
      "bSort": false,
      "columnDefs": [{ "visible": false, "targets": 1 }],
      "order": [[ 1, 'asc' ]],
      "displayLength": 25,
      "drawCallback": function ( settings ) {
            var api = this.api();
            var rows = api.rows( {page:'current'} ).nodes();
            var last=null;
 
            api.column(1, {page:'current'} ).data().each( function ( group, i ) {
                if ( last !== group ) {
                    $(rows).eq( i ).before(
                        '<tr class="group"><td colspan="3">'+group+'</td></tr>'
                    );
 
                    last = group;
                }
            } );
        }
    });
  });