%table.table
  %thead
    %tr
      %th= "Warehouse"
      %th= "Material"
      %th= "User"
      %th= "Stock In Date"
      %th= "Amount"
  - @stock_ins.each do |stock_in|
    %tr
      %td= stock_in.warehouse.name
      %td= stock_in.material.name
      %td= stock_in.labor.name
      %td= stock_in.stock_in_date
      %td= stock_in.amount
    
/ .pull-right
/   = paginate @productions