.container
  .row.production-classification
    = simple_form_for @production_plans, html: {class: 'form-horizontal'} do |f|
      .row
        .error-position
          = render "error", :obj => @production_plans
        .col-md-4
          .form-group
            %label.col-xs-4{style: 'padding-top: 5px'} Project Name
            .col-xs-7
              = f.input :planting_project_id, label: false, error: false, input_html: { class: "form-control planting_project_id" }, collection: PlantingProject.all.map{ |p| [p.name, p.uuid] }, :prompt => 'Please select an item', :disabled => params[:action] == "edit" || params[:action] == "update"
        .col-md-2
          .form-group
            %label.col-xs-3{style: 'padding-top: 5px'} Year
            .col-xs-9
              = f.select(:for_year, 8.years.ago.year.. 8.years.from_now.year,  { error: false, selected: Date.today.year }, { class: "form-control year_selected", :disabled => params[:action] == "edit" || params[:action] == "update" })
      %br
      - unless (params[:action] == "new")
        .leave-space{style: "margin-top: 20px"}
        %label 1. Production Forecasting
        .leave-space{style: "margin-top: 10px"}
        .row
          .col-md-2
            .form-group
              %p.col-xs-5{style: 'padding-top: 5px'} January
              .col-xs-7
                = f.input :jan, as: :string, label: false, error: false, input_html: { class: "form-control", placeholder: 'Amount' }
          .col-md-2
            .form-group
              %p.col-xs-5{style: 'padding-top: 5px'} February
              .col-xs-7
                = f.input :feb, as: :string, label: false, error: false, input_html: { class: "form-control", placeholder: 'Amount' }
          .col-md-2
            .form-group
              %p.col-xs-5{style: 'padding-top: 5px'} March
              .col-xs-7
                = f.input :mar, as: :string, label: false, error: false, input_html: { class: "form-control", placeholder: 'Amount' }
          .col-md-2
            .form-group
              %p.col-xs-5{style: 'padding-top: 5px'} April
              .col-xs-7
                = f.input :apr, as: :string, label: false, error: false, input_html: { class: "form-control", placeholder: 'Amount' }
          .col-md-2
            .form-group
              %p.col-xs-5{style: 'padding-top: 5px'} May
              .col-xs-7
                = f.input :may, as: :string, label: false, error: false, input_html: { class: "form-control", placeholder: 'Amount' }
          .col-md-2
            .form-group
              %p.col-xs-5{style: 'padding-top: 5px'} June
              .col-xs-7
                = f.input :jun, as: :string, label: false, error: false, input_html: { class: "form-control", placeholder: 'Amount' }
          .col-md-2
            .form-group
              %p.col-xs-5{style: 'padding-top: 5px'} July
              .col-xs-7
                = f.input :jul, as: :string, label: false, error: false, input_html: { class: "form-control", placeholder: 'Amount' }
          .col-md-2
            .form-group
              %p.col-xs-5{style: 'padding-top: 5px'} Auguest
              .col-xs-7
                = f.input :aug, as: :string, label: false, error: false, input_html: { class: "form-control", placeholder: 'Amount' }
          .col-md-2
            .form-group
              %p.col-xs-5{style: 'padding-top: 5px'} September
              .col-xs-7
                = f.input :sep, as: :string, label: false, error: false, input_html: { class: "form-control", placeholder: 'Amount' }
          .col-md-2
            .form-group
              %p.col-xs-5{style: 'padding-top: 5px'} October
              .col-xs-7
                = f.input :oct, as: :string, label: false, error: false, input_html: { class: "form-control", placeholder: 'Amount' }
          .col-md-2
            .form-group
              %p.col-xs-5{style: 'padding-top: 5px'} November
              .col-xs-7
                = f.input :nov, as: :string, label: false, error: false, input_html: { class: "form-control", placeholder: 'Amount' }
          .col-md-2
            .form-group
              %p.col-xs-5{style: 'padding-top: 5px'} December
              .col-xs-7
                = f.input :dec, as: :string, label: false, error: false, input_html: { class: "form-control", placeholder: 'Amount' }
        .leave-space{style: "margin-top: 20px"}
        %label 2. Production Classification
        .leave-space{style: "margin-top: 10px"}
        .row
          = f.simple_fields_for :production_classification_amounts do |p|
            .col-md-3
              .form-group
                %p.col-xs-6
                  = p.label :production_classification_id, ProductionClassification.find(p.object.production_classification_id).name, { style: "font-weight: normal; padding-top: 12px;" }
                  = p.input :production_classification_id, as: :hidden
                .col-xs-6
                  = p.input :amount, label: false, error: false, as: :string, input_html: { class: "form-control", placeholder: 'Amount' }
      %br
      .row{style: "padding-left: 10px;"}
        = render partial: 'form_button', locals: { f: f }
        .p{style: 'padding-top: 10px;'}

- content_for :javascript_body do
  = javascript_include_tag "production_plans"