#form-model-content-supplier
= simple_form_for @machinery, html: {class: 'form-horizontal'} do |f|
  .form-group
    %label.col-xs-2 Name / Code *
    .col-xs-5
      = f.input :name, label: false, input_html: {class: "form-control"}, error_html: {class: "err_msg"}
    %span.help-block= f.error :name
  .form-group
    %label.col-xs-2 Machinery Type *
    .col-xs-5
      = f.association :machinery_type, label: false, input_html: {class: "form-control"}, error_html: {class: "err_msg"}
    %span.help-block= f.error :machinery_type_id
  .form-group
    %label.col-xs-2 Manufacturer
    .col-xs-5
      = f.input :manufacturer, label: false, input_html: {class: "form-control"}
  .form-group
    %label.col-xs-2 Model
    .col-xs-5
      = f.input :model, label: false, input_html: {class: "form-control"}
  .form-group
    %label.col-xs-2 Registration No
    .col-xs-5
      = f.input :registration_number, label: false, input_html: {class: "form-control"}
  .form-group
    %label.col-xs-2 Year
    .col-xs-5
      = f.input :year, label: false, input_html: {class: "form-control"}
  .form-group
    %label.col-xs-2 Note
    .col-xs-5
      = f.input :note, label: false, input_html: {class: "form-control"}
  .form-group
    %label.col-xs-2.control-label.text-left Active
    .col-xs-5
      = f.input :status, label: false
  .form-group
    .col-xs-7
      .pull-right
        = render partial: 'form_button', locals: { f: f }