#form-model-content-supplier
= simple_form_for @machinery, html: {class: 'form-horizontal'} do |f|
  .container
    .row
      .col-md-7
        .form-group
          %label.col-xs-3 Name / Code *
          .col-xs-9
            = f.input :name, label: false, input_html: {class: "form-control"}, error_html: {class: "err_msg"}
          
        .form-group
          %label.col-xs-3 Machinery Type *
          .col-xs-9
            = f.input :machinery_type_id, collection: MachineryType.all.map{ |p| [p.name, p.uuid] }, label: false, input_html: {class: "form-control"}, error_html: {class: "err_msg"}
          
        .form-group
          %label.col-xs-3 Source *
          .col-xs-9
            = f.input :source, label: false, collection: ["Own Project", "Service Supply"], input_html: {class: "form-control"}, error_html: {class: "err_msg"}
          
        .form-group
          %label.col-xs-3 Planting Project *
          .col-xs-9
            = f.input :planting_project_id, collection: PlantingProject.all.map{ |p| [p.name, p.uuid] }, label: false, input_html: {class: "form-control"}, error_html: {class: "err_msg"}
          
        .form-group
          %label.col-xs-3 Manufacturer
          .col-xs-9
            = f.input :manufacturer, label: false, input_html: {class: "form-control"}
        .form-group
          %label.col-xs-3 Model
          .col-xs-9
            = f.input :model, label: false, input_html: {class: "form-control"}
        .form-group
          %label.col-xs-3 Registration No
          .col-xs-9
            = f.input :registration_number, label: false, input_html: {class: "form-control"}
        .form-group
          %label.col-xs-3 Year
          .col-xs-9
            = f.input :year, label: false, input_html: {class: "form-control"}
        .form-group
          %label.col-xs-3 Note
          .col-xs-9
            = f.input :note, label: false, input_html: {class: "form-control"}
            
        .form-group
          %label.col-xs-3 Avatar
          .col-xs-9
            = f.input :avatar, as: :file, label: false, input_html: {:onchange => "previewFile()"}
        .form-group
          .col-xs-3
          .col-xs-9
            =image_tag @machinery.avatar.url(:thumb), size: "100"
            
        .form-group
          %label.col-xs-3.control-label.text-left Active
          .col-xs-9
            = f.input :status, label: false
        .form-group
          .col-xs-12
            .pull-right
              = render partial: 'form_button', locals: { f: f }
      .col-md-4
        = render "error", :obj => @machinery
      .col-md-2

- content_for :javascript_body do
  = javascript_include_tag "machineries"