%table#list_data_table
  %thead
    %tr
      %th.col-md-2= "Name / Code"
      %th.col-md-1= "Type"
      %th.col-md-2= "Source"
      / %th.col-md-1= "Planting Project"
      %th.col-md-1= "Regis. No"
      %th.col-md-1= "Year"
      %th.col-md-1= "Avatar"
      %th.col-md-2= "Status"
      %th.col-md-1= "Action"
  %tbody
    - @machineries.each do |machinery|
      %tr
        %td= machinery.name
        %td= machinery.machinery_type.name
        %td= machinery.source
        / %td= machinery.planting_project.name
        %td= machinery.registration_number
        %td= machinery.year
        %td= image_tag machinery.avatar.url(:thumb)
        %td
          = form_for(machinery) do |f|
            - if machinery.status
              %span{style: "color:green;"}= "active"
              - if can? :update, machinery
                |
                #{f.hidden_field :status, value: false}
                #{submit_tag "deactivate", :class => "btn btn-default btn-xs"}
            - else
              %span{style: "color:red;"}= "inactive"
              - if can? :update, machinery
                |
                #{f.hidden_field :status, value: true}
                #{submit_tag "activate", :class => "btn btn-default btn-xs"}
        %td
          - if can? :update, machinery
            = link_to "Edit", edit_machinery_path(machinery)
