- @machineries.each do |machinery|
  .row{style: "margin: 10px 0;"}
    %table.col-xs-12
      %tr
        %td.col-xs-1{style: "border: 1px solid #ddd;background-color:#eee;"}= image_tag machinery.avatar.url(:thumb), size: "100x100"
        %td.col-xs-2{style: "border: 1px solid #ddd;"}
          %span{style: "margin: 10px 0;display:block;font-size: 2em;text-transform: uppercase;"}= MachineryType.find_by(machinery.machinery_type_id).name
          %span{style: "display:block;font-size:1.5em"}= machinery.name
        %td.col-xs-8{style: "border: 1px solid #ddd;"}
          %span{style: "display:block;"}
            %b SOURCE:
            = machinery.source
          %span{style: "display:block;"}
            %b MANUFACTURER:
            = machinery.manufacturer
          %span{style: "display:block;"}
            %b MODEL:
            = machinery.model
          %span{style: "display:block;"}
            %b REGISTRATION NO:
            = machinery.registration_number
          %span{style: "display:block;"}
            %b YEAR:
            = machinery.year
        - if can? :update, machinery
          %td.col-xs-1{style: "border: 1px solid #ddd;background-color:#eee;"}
            = link_to "Edit", edit_machinery_path(machinery), style: "display:block;text-align:center;"
