%h2 Sign up for new users
.row
  .col-sm-5.col-sm-offset-2
    = simple_form_for resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-horizontal" } do |f|
      = devise_error_messages!
      .form-group
        %label.col-xs-1.control-label Email
        .col-xs-5
        = f.input :email, label: false, input_html: { class: "form-control" } 
        %span.help-block= f.error :name
        
      .form-group
        %label.col-xs-1.control-label Password
        .col-xs-5
        - if @validatable
          %em
            (#{@minimum_password_length} characters minimum)
        = f.input :password, label: false, input_html: { class: "form-control" } 
      
      .form-group
        %label.col-xs-1.control-label Password
        .col-xs-5
        = f.input :password_confirmation, label: false, input_html: { class: "form-control" } 

      .form-group
        %label.col-xs-1.control-label Roles
        .col-xs-5
        / = f.input :name, as: :select, label: false, :include_blank => false,collection: UserGroup.all
        / = collection_select :name, :user_group_uuid, UserGroup.all, :id, label: false
      .row  
        .col-sm-6    
          .actions
            = f.submit "Sign up", :class => 'btn btn-success form-control'
        = render "devise/shared/links"
