%h1 Coconut Information
%div
  %table.table
    %tr.header
      %th Fields
      %th Information
    %tr
      %th Field
      %td= @coconut.field_uuid
    %tr
      %th Stage
      %td= @coconut.stage.name
    %tr
      %th Type
      %td= @coconut.coco_type
    %tr
      %th Planting date
      %td= @coconut.planting_date
    %tr
      %th Note
      %td= @coconut.note
    %tr
      %th Active
      %td
        - if @coconut.active?
          = "yes"
        - else  
          = "no"

= link_to "Cancel", :back, class: "btn btn-default"

:javascript
  $('#delete-confirm').on('show', function() {
    var $submit = $(this).find('.btn-danger'), href = $submit.attr('href');
    $submit.attr('href', href.replace('pony', $(this).data('id')));
  });

  $('.delete-confirm').click(function(e) {
    e.preventDefault();
    $('#delete-confirm').data('id', $(this).data('id')).modal('show');
  });

#delete-confirm.modal.fade
  .modal-dialog
    .modal-content 
      .modal-header
        %a.close{"data-dismiss" => "modal"} ×
        Delete this Stage?
      .modal-body
        By clicking on Delete Button, you will destroy this Stage.
      .modal-footer
        %a.btn.btn-default{"data-dismiss" => "modal", :href => "#"} Cancel
        = link_to 'Delete', coconut_path(@coconut), method: :delete, :class => 'btn btn-danger'