%table.list_data_table
  %thead
    %tr
      %th.col-md-3= "Item type"
      %th.col-md-3= "User"
      %th.col-md-3= "Event"
      %th.col-md-3= "Created at"
  %tbody
    - @versions.each do |version|
      %tr
        %td= version.item_type
        %td= version.user.email
        %td= version.event
        %td= version.created_at

:javascript
  $(document).ready(function() {
    $('.list_data_table').DataTable({
      "bSort": false,
      "columnDefs": [{ "visible": false, "targets": 1 }],
      "order": [[ 1, 'asc' ]],
      "displayLength": 25,
      "drawCallback": function ( settings ) {
            var api = this.api();
            var rows = api.rows( {page:'current'} ).nodes();
            var last=null;
 
            api.column(1, {page:'current'} ).data().each( function ( group, i ) {
                if ( last !== group ) {
                    $(rows).eq( i ).before(
                        '<tr class="group"><td colspan="6">'+group+'</td></tr>'
                    );
 
                    last = group;
                }
            } );
        }
    });
  });