= simple_form_for @user_group, html: { class: "form-horizontal" } do |f|
  .form-group
    %label.col-xs-2.control-label Name
    .col-xs-5
      = f.input :name, label: false, input_html: { class: "form-control" }
      %span.help-block= f.error :name
  .form-group
    %label.col-xs-2.control-label Note
    .col-xs-5
      = f.input :note, label: false, input_html: { class: "form-control" }
      %span.help-block= f.error :note
  .form-group
    %label.col-xs-2.control-label Active
    .col-xs-5
      = f.input :active, label: false, input_html: { style: "margin-top: 12px;" }
      %span.help-block= f.error :active

  .panel.panel-default
    .panel-heading.background-color
      %b Permissions
    .panel-body
    %table.table
      %thead
        %tr
          %th.col-md-2= "Module Name"
          %th.col-md-2= "Full control"
          %th.col-md-2= "View control"
          %th.col-md-2= "Create control"
          %th.col-md-2= "Update control"
          %th.col-md-2= "Delete control"

        - @resources.each do |resource|
          %tr
            %td 
              = check_box_tag "user_group[resource_ids][]", resource.id, @user_group.resources.include?(resource)
              = h resource.name.camelize
            %td
              = check_box_tag 'full_control', false
            %td
              = check_box_tag 'view_control', 'yes', false
            %td
              = check_box_tag 'create_control', 'yes', false
            %td
              = check_box_tag 'update_control', 'yes', false
            %td
              = check_box_tag 'delete_control', 'yes', false        
    
  .form-group
    .col-xs-12
      .pull-right
        = render partial: 'form_button', locals: { f: f }
