%table.table
  %thead
    %tr
      %th.col-md-4= "Name"
      %th.col-md-4= "Note"
      %th.col-md-2= "Active"
      %th.col-md-2= "Actions"
  - @user_groups.each do |user_group|
    %tr
      %td= user_group.name
      %td= user_group.note
      %td
        = form_for(user_group) do |f|
          - if user_group.active
            %span{style: "color:green;"}= "active"
            |
            #{f.hidden_field :active, value: false}
            #{submit_tag "inactivate", :class => "btn btn-default btn-xs"}
          - else
            %span{:style => "color:red;"}= "inactive"
            |
            #{f.hidden_field :active, value: true}
            #{submit_tag "activate", :class => "btn btn-default btn-xs"}
      %td
        - if can? :update, UserGroup
          = link_to "Edit", edit_user_group_path(user_group)
        = "|"
        = link_to "Set Permissions", edit_permission_path(user_group)
        / permissions_new_path(:user_group_id => user_group.uuid)
.pull-right
  = paginate @user_groups
