%table.table
  %tr.header
    %th Name
    %th Note
    %th Active
    %th Actions
  - user_groups.each do |user_group|
    %tr
      %td= user_group.name
      %td= user_group.note
      %td
        - if user_group.active?
          = "active"
        - else  
          = "inactive"
      %td
        / = link_to "Show", user_group_path(user_group), class: "btn btn-default"
        - if can? :update, UserGroup
          = link_to "Edit", edit_user_group_path(user_group), class: "btn btn-default"