%table#list_data_table
  %thead
    %tr
      %th.col-md-2= "Name"
      %th.col-md-1= "Type"
      %th.col-md-2= "Planting Project"
      %th.col-md-2= "Status"
      %th.col-md-1= "Action"
  %tbody
    - @equipment.each do |equipment|
      %tr
        %td= equipment.name
        %td= equipment.equipment_type.name
        %td= PlantingProject.find(equipment.planting_project_id).name
        %td
          = form_for(equipment) do |f|
            - if equipment.status
              %span{style: "color:green;"}= "active"
              - if can? :update, equipment
                |
                #{f.hidden_field :status, value: false}
                #{submit_tag "deactivate", :class => "btn btn-default btn-xs"}
            - else
              %span{style: "color:red;"}= "inactive"
              - if can? :update, equipment
                |
                #{f.hidden_field :status, value: true}
                #{submit_tag "activate", :class => "btn btn-default btn-xs"}
        %td
          - if can? :update, equipment
            = link_to "Edit", edit_equipment_path(equipment)
