= simple_form_for @user, html: { class: "form-horizontal" } do |f|
  .form-group
    %label.col-xs-2.control-label Labor *
    .col-xs-5   
      = f.input :labor_id, label: false, collection: @labors, input_html: { class: "form-control labor_uuid" }, error_html: { class: "err_msg" }
    %span.help-block= f.error :labor_id   
  .form-group
    %label.col-xs-2.control-label.text-left Login Email *
    .col-xs-5
      = f.input :email, label: false, input_html: { class: "form-control labor-email" }, error_html: { class: "err_msg" } 
    %span.help-block= f.error :email
  .form-group
    %label.col-xs-2.control-label User Group *
    .col-xs-5   
      = f.input :user_group_id, label: false, collection: @user_groups, input_html: { class: "form-control" }, error_html: { class: "err_msg" }
    %span.help-block= f.error :user_group_id   
  .form-group
    %label.col-xs-2.control-label.text-left Active
    .col-xs-5
      = f.input :active, label: false
    %span.help-block= f.error :active    
  .form-group
    .col-xs-7
      .pull-right
        = render partial: 'form_button', locals: { f: f }

- content_for :javascript_body do
  = javascript_include_tag "users"