= simple_form_for @user, html: { class: "form-horizontal" } do |f|
  .form-group
    %label.col-xs-2.control-label.text-left Email
    .col-xs-5
      = f.input :email, label: false, input_html: { class: "form-control" } 
      %span.help-block= f.error :name
  .form-group
    %label.col-xs-2.control-label.text-left Role
    .col-xs-5
      = f.input :role, label: false, collection: Role.all, include_blank: true, value_method: :name, input_html: { class: "form-control" }, label_method: :label
      %span.help-block= f.error :role   
  .form-group
    %label.col-xs-2.control-label User Group
    .col-xs-5   
      = f.input :user_group_id, label: false, collection: @user_groups, include_blank: true, input_html: { class: "form-control" }
      %span.help-block= f.error :user_group_id   
  .form-group
    .col-xs-7
      .pull-right
        = render partial: 'form_button', locals: { f: f }
