= simple_form_for @user, html: { class: "form-horizontal" } do |f|
  .container
    .row
      .col-md-7
        .form-group
          %label.col-xs-3.control-label Labor *
          .col-xs-9   
            = f.input :labor_id, label: false, collection: Labor.where(selected: true, active: true).map{ |p| [p.name, p.uuid] }, input_html: { class: "form-control labor_uuid" }, error_html: { class: "err_msg" }
          
        .form-group
          %label.col-xs-3.control-label.text-left Login Email *
          .col-xs-9
            = f.input :email, label: false, input_html: { class: "form-control labor-email" }, error_html: { class: "err_msg" } 
          
        .form-group
          %label.col-xs-3.control-label User Group *
          .col-xs-9   
            = f.input :user_group_id, label: false, collection: UserGroup.where(active: true).map{ |p| [p.name, p.uuid] }, input_html: { class: "form-control" }, error_html: { class: "err_msg" }
          
        .form-group
          %label.col-xs-3.control-label.text-left Active
          .col-xs-9
            = f.input :active, label: false
          
        .form-group
          .col-xs-12
            .pull-right
              = render partial: 'form_button', locals: { f: f }
      .col-md-4
        = render "error", :obj => @user
      .col-md-2

- content_for :javascript_body do
  = javascript_include_tag "users"