%table#list_data_table
  %thead
    %tr
      %th.col-md-3 Labor
      %th.col-md-3 Email
      %th.col-md-3 Group
      %th.col-md-2 Active
      %th.col-md-1 Actions
  - @users.each do |user|
    %tr
      %td
        = user.labor.name  
      %td= user.email
      %td
        = user.user_group.name
      %td
        = form_for(user) do |f|
          - if user.active
            %span{style: "color:green;"}= "active"
            - if can? :update, user
              |
              #{f.hidden_field :active, value: false}
              #{submit_tag "deactivate", :class => "btn btn-default btn-xs"}
          - else
            %span{:style => "color:red;"}= "inactive"
            - if can? :update, user
              |
              #{f.hidden_field :active, value: true}
              #{submit_tag "activate", :class => "btn btn-default btn-xs"}
      %td
        - if can? :update, user
          = link_to "Edit", edit_user_path(user)