.row
  %h1= "Edit Profile"
  %hr
  = simple_form_for @user_account, url: url_for(:action => 'update_profile', controller: 'users'), :method => 'put', html: { class: "form-horizontal" } do |f|
    .container
      .row
        .col-md-7
          .form-group
            %label.col-xs-3.control-label.text-left Email
            .col-xs-9
              = f.input :email, label: false, input_html: { class: "form-control" }, readonly: true
              %span.help-block= f.error :name
          .form-group
            %label.col-xs-3.control-label.text-left Current password
            .col-xs-9
              = f.input :current_password, autofocus: true, autocomplete: "off", label: false, input_html: { class: "form-control" }
          .form-group
            %label.col-xs-3.control-label.text-left New password
            .col-xs-9
              = f.input :password, autocomplete: "off", label: false, input_html: { class: "form-control" }, error_html: { class: "err_msg" }
          .form-group
            %label.col-xs-3.control-label.text-left Confirmed password
            .col-xs-9
              = f.input :password_confirmation, autocomplete: "off", label: false, input_html: { class: "form-control" }, error_html: { class: "err_msg" }
          .form-group
            .col-xs-12
              .pull-right
                = f.submit class: "btn btn-primary", "data-disable-with" => "Update"
                = link_to 'Cancel', labor_path(@user_account.labor), class: "btn btn-default"
        .col-md-4
          = render "error", :obj => @user_account
        .col-md-2
