= simple_form_for @production, html: { class: "form-horizontal" } do |f|
  .form-group
    %label.col-xs-2.control-label.text-left Production Type *
    .col-xs-5
      = f.input :planting_project_id, label: false, collection: @planting_projects, input_html: { class: "form-control" }, error_html: {class: "err_msg"}
    %span.help-block= f.error :planting_project_id
  .form-group
    %label.col-xs-2.control-label.text-left Status *
    .col-xs-5
      = f.input :status, label: false, collection: ["young", "ripe"], input_html: {class: "form-control"}, error_html: {class: "err_msg"}
    %span.help-block= f.error :status
  .form-group
    %label.col-xs-2.control-label.text-left UOM *
    .col-xs-5
      = f.input :uom_id, label: false, collection: @uom, input_html: { class: "form-control" }, error_html: {class: "err_msg"}
    %span.help-block= f.error :uom_id  
  .form-group
    %label.col-xs-2.control-label.text-left Note
    .col-xs-5
      = f.input :note, label: false, input_html: { class: "form-control" }
    %span.help-block= f.error :note
  .form-group
    .col-xs-7
      .pull-right
        = render partial: 'form_button', locals: { f: f }
