= simple_form_for @production, html: { class: "form-horizontal" } do |f|
  .container
    .row
      .col-md-7
        .form-group
          %label.col-xs-3.control-label.text-left Production Type *
          .col-xs-9
            = f.input :planting_project_id, label: false, collection: PlantingProject.all.map{ |p| [p.name, p.uuid] }, input_html: { class: "form-control" }, error_html: {class: "err_msg"}
          
        .form-group
          %label.col-xs-3.control-label.text-left Status *
          .col-xs-9
            = f.input :status, label: false, input_html: {class: "form-control"}, error_html: {class: "err_msg"}
          
        .form-group
          %label.col-xs-3.control-label.text-left UOM *
          .col-xs-9
            = f.input :uom_id, label: false, collection: UnitOfMeasurement.all.map{ |p| [p.name, p.uuid] }, input_html: { class: "form-control" }, error_html: {class: "err_msg"}
            
        .form-group
          %label.col-xs-3.control-label.text-left Note
          .col-xs-9
            = f.input :note, label: false, input_html: { class: "form-control" }
          
        .form-group
          .col-xs-12
            .pull-right
              = render partial: 'form_button', locals: { f: f }
      .col-md-4
        = render "error", :obj => @production
      .col-md-2
