= simple_form_for @setting, html: { class: "form-horizontal" } do |f|
  .form-group
    %label.col-xs-2.control-label Note:
    .col-xs-5
      = f.input :note, label: false, input_html: { class: "form-control", readonly: "true" }
    %span.help-block= f.error :note
  .form-group
    %label.col-xs-2.control-label Value:
    .col-xs-5
      - if @setting.valueType == "STR"
        = f.input :valueString, label: false, input_html: { class: "form-control" }
        %span.help-block= f.error :valueString
      - elsif @setting.valueType == "INT"
        = f.input :valueInteger, label: false, input_html: { class: "form-control" }
        %span.help-block= f.error :valueInteger
      - else
        = f.input :valueFloat, label: false, input_html: { class: "form-control" }
        %span.help-block= f.error :valueFloat
  .form-group
    .col-xs-7
      .pull-right
        = render partial: 'form_button', locals: { f: f }