#myModalAdd.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", "data-backdrop"=>"static"}
  .modal-dialog.custom-modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#myModalLabel.modal-title Add New Block
      .modal-body
        .row
          .col-lg-3
            = form_for([farm, block], remote: true, html: {role: :form, 'data-model' => 'farm', :class => "form-horizontal"}) do |f|
              = f.hidden_field :farm_id, value: farm.uuid
              .form-group
                .col-xs-11
                  = f.text_field :name, class: 'form-control', placeholder: 'Block Name'
                  .msg-name.alert-danger{:role => "alert"}
              .form-group
                .col-xs-11
                  = f.text_field :surface, class: 'form-control', placeholder: 'Surface Area'
                  .msg-surface.alert-danger{:role => "alert"}
              .form-group
                .col-xs-11
                  = f.text_field :tree_amount, class: 'form-control', placeholder: 'Tree Amount'
                  .msg-tree_amount.alert-danger{:role => "alert"}
              .form-group
                .col-xs-11
                  .input-group
                    = f.select :planting_project_id, planting_projects.collect {|p| [ p.name, p.id ] }, {include_blank: "Select Planting Type"}, class: 'form-control'
                    %span.input-group-btn
                      %button.btn.btn-default#btn-draw-block{:type => "button", style: "display: none;"} Draw Block
                    .msg-planting_project_id.alert-danger{:role => "alert"}
              .form-group
                .col-xs-11
                  = f.text_field :shape_lat_long, class: 'form-control', placeholder: 'shape_lat_long'
                  .msg-shape_lat_long.alert-danger{:role => "alert"}
              .form-group
                .col-xs-11
                  = f.text_field :location_lat_long, class: 'form-control', placeholder: 'location_lat_long'
                  .msg-location_lat_long.alert-danger{:role => "alert"}
              .form-group
                .col-xs-11
                  = f.text_field :rental_status, class: 'form-control', placeholder: 'rental_status'
                  .msg-rental_status.alert-danger{:role => "alert"}
              .form-group
                .col-xs-11
                  = f.text_field :status, class: 'form-control', placeholder: 'status'
                  .msg-status.alert-danger{:role => "alert"}
              .form-group
                .col-xs-11
                  .modal-footer.custom-modal-footer
                    %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
                    = f.submit :class => "btn btn-primary"
          .col-lg-9
            #map-block
        / - form_for block do |f|
        /   f.name
        / = simple_form_for farm, remote: true, html: {role: :form, 'data-model' => 'farm', :class => "form-horizontal"} do |f|
        /   .form-group
        /     = f.input :name, label: 'Name', placeholder: 'Farm Name', input_html: { class: "form-controller" }
        /   .form-group
        /     = f.input :location, label: "Location", placeholder: 'Farm Address', input_html: { class: "form-controller" }
        /   .form-group
        /     = f.input :latlong_farm, label: "Coodornate", placeholder: 'Latitude - Longitude', input_html: { class: "form-controller" }
        /   #map-farm
        /   .modal-footer.custom-modal-footer
        /     %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
        /     = f.button :submit, class: "btn btn-primary"
        / = form_for(farm, remote: true, html: {role: :form, 'data-model' => 'farm', :class => "form-horizontal"}) do |f|
        /   .form-group
        /     = f.label :name, class: 'col-xs-2 control-label'
        /     .col-xs-10
        /       = f.text_field :name, class: 'form-control', placeholder: 'Farm Name'
        /       .msg-name.alert-danger{:role => "alert"}
        /   .form-group
        /     = f.label :location, class: 'col-xs-2 control-label'
        /     .col-xs-10
        /       = f.text_field :location, class: 'form-control', placeholder: 'Location Address'
        /       .msg-location.alert-danger{:role => "alert"}
        /   .form-group
        /     %label.col-xs-2.control-label Coodornate
        /     .col-xs-10
        /       = f.text_field :latlong_farm, class: 'form-control', placeholder: 'Latitude - Longitude', :readonly => true
        /       .msg-latlong_farm.alert-danger{:role => "alert"}
        /   .form-group
        /     .col-xs-12
        /       #map-farm
        /   .modal-footer.custom-modal-footer
        /     %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
        /     = f.submit :class => "btn btn-primary"