- if @block.errors.any?
  - @block.errors.messages.each do |key, msg|
    $(".msg-#{key}").addClass("alert custom-alert-msg").html("#{key.to_s.camelize} #{msg[0]}");
- else
  //$('#myModalAdd').modal('hide');
  location.reload();
  //$('.block-baord').append("#{escape_javascript(render 'block_board', block: @block)}");
  //$(".nav_trigger").append("#{escape_javascript(render 'nav_block', block: @block)}");
