.page-header.custom-page-header
  %h3.custom-h3.icon-green
    .fa.fa-tree
    #{@farm.name}
    - if can? :create, Farm
      = link_to '(+) Add block', new_farm_block_path, :remote => true, class: 'btn btn-xs btn-primary btn-add'
.row
  .col-lg-12.reset-map
    #blocks-map.img-rounded
.row.farm-box-infowindow
  .col-lg-12
    .col-lg-7
      %div Total Surface: #{@blocks.sum(:surface)}
      %div Blocks Amount: #{@blocks.count}
      %div
        Planting Project:
        - @blocks.select(:planting_project_id).distinct.each do |block|
          - if block.planting_project.name.downcase.eql? 'coconut'
            %span.label.label-success #{block.planting_project.name}
          - elsif block.planting_project.name.downcase.eql? 'jackfruit'
            %span.label.label-warning #{block.planting_project.name}
          - elsif block.planting_project.name.downcase.eql? 'mango'
            %span.label.custom-label-dark-yellow #{'Mango'}
          - elsif block.planting_project.name.downcase.eql? 'lemon'
            %span.label.custom-label-light-green #{'Lemon'}
      %div Location: #{@farm.location}
      %div
        %i.fa.fa-map-marker
        %span.farm-latlong= "#{@farm.latlong_farm}"
    .col-lg-5
      %div.weather-temp
:javascript
  var latlong="#{@farm.latlong_farm}".split(", ");
  var latlongfarm = new google.maps.LatLng(#{@farm.latlong_farm});
  var map;
  mapOptions = {
        zoom: 17,
        center: latlongfarm,
        streetViewControl: false,
        panControl: false,
        mapTypeControl: false,
        mapTypeId: google.maps.MapTypeId.SATELLITE
      };
  map = new google.maps.Map(document.getElementById('blocks-map'), mapOptions);
  $("div.row.farm-box-infowindow").hide();
  var contentbox = $("div.row.farm-box-infowindow").get()[0].innerHTML;
  var infowin = function(content){
    var infowindow = new google.maps.InfoWindow({
        content: content,
        maxWidth: 1000,
        zIndex: 10
    });
    return infowindow;
  }
  var marker = new google.maps.Marker({
        position: latlongfarm,
        map: map,
  });
  var infobox = infowin(contentbox);
  google.maps.event.addListener(map, 'click', function() {
    infobox.close();
  });
  google.maps.event.addListener(marker, 'click', function() {
    infobox.setContent($("div.row.farm-box-infowindow").get()[0].innerHTML);
    infobox.setPosition(this.getPosition());
    infobox.open(map);
  });
  infobox.setPosition(latlongfarm);
  infobox.open(map);
  $.ajax({
    url: 'http://api.openweathermap.org/data/2.5/weather?lat='+ latlong[0] +'&lon='+ latlong[1] +'&units=metric',
    dataType: 'json',
    success: function(data){
      var icon = "<img src='http://openweathermap.org/img/w/"+data.weather[0].icon+".png' class='img-rounded' alt='Cinque Terre' width='48' height='48'>";
      var description = data.weather[0].description
      $('div.weather-temp').append("<div style='margin: -10px 0px -15px 0px;'>"+data.main.temp+" <sup>o</sup>C"+icon+"</div><div>"+description+"</div><div>Humidity: "+data.main.humidity+" %</div><div>Winds: "+data.wind.speed+" m/s</div><div>Pressure: "+data.main.pressure+" hPa</div>");
    }
  });
.page-header.custom-page-header
  %h3.custom-h3
    .fa.fa-cubes.icon-brown
    All Blocks Information
.row
  - unless @blocks.blank?
    - @blocks.each do |block|
      .col-sm-3
        %div{id:"#{block.uuid}"}
          .box-farm-info
            .page-header.custom-page-header
              %h4.custom-h4
                / = link_to block.name, farm_block_path(block.uuid), :class => "text-color-green"
                = link_to block.name, {:action=>"show", :controller=>"blocks", :farm_id=>"#{block.farm_id}", :id=>"#{block.uuid}"}, :class => "text-color-green"
            .row
              .col-lg-12.farm-info
                %div
                  Planting Project:
                  - if block.planting_project.name.downcase.eql? 'coconut'
                    %span.label.label-success #{block.planting_project.name}
                  - elsif block.planting_project.name.downcase.eql? 'jackfruit'
                    %span.label.label-warning #{block.planting_project.name}
                  - elsif block.planting_project.name.downcase.eql? 'mango'
                    %span.label.custom-label-dark-yellow #{'Mango'}
                  - elsif block.planting_project.name.downcase.eql? 'lemon'
                    %span.label.custom-label-light-green #{'Lemon'}

                %div Surface: #{block.surface}
                %div Tree Amount: #{block.tree_amount}
                %div
                  %i.fa.fa-map-marker
                  = block.location_lat_long
      :javascript
        show_blocks = function() {
          var block_id = "#{block.uuid}";
          var block_name = "#{block.name}";
          var block_shape = #{block.shape_lat_long};
          var project_name = "#{block.planting_project.name.downcase}";
          showBlock(block_name, block_shape, project_name);
          showBlockName(block_name, block_shape, block_id);
        };
        show_blocks();
.form-modal