.row
  %h1
    = "Classification Report - Coconut"
  %hr
  = render partial: 'report_classification_filter', path: report_classifications_coconut_index_path
  
  - unless params[:filter].nil?
    %br
    .row
      .col-xs-12
        %table.table-bordered{cellpadding: "10px", width: "100%"}
          %tr{style: "background-color: #eee"}
            %th{style: "padding-left:10px"} Period
            %th{style: "text-align:center"}= "Jan-" + @year
            %th{style: "text-align:center"}= "Feb-" + @year
            %th{style: "text-align:center"}= "Mar-" + @year
            %th{style: "text-align:center"}= "Apr-" + @year
            %th{style: "text-align:center"}= "May-" + @year
            %th{style: "text-align:center"}= "Jun-" + @year
            %th{style: "text-align:center"}= "Jul-" + @year
            %th{style: "text-align:center"}= "Aug-" + @year
            %th{style: "text-align:center"}= "Sep-" + @year
            %th{style: "text-align:center"}= "Oct-" + @year
            %th{style: "text-align:center"}= "Nov-" + @year
            %th{style: "text-align:center"}= "Dec-" + @year
            %th{style: "text-align:center"} Total
          %tr{style: "color:#3333FF;"}
            %th{style: "padding-left:10px"} Standard PDT
            %td{style: "text-align:center"}
              = @production_standard[0]
              %sup Unit
            %td{style: "text-align:center"}
              = @production_standard[1]
              %sup Unit
            %td{style: "text-align:center"}
              = @production_standard[2]
              %sup Unit
            %td{style: "text-align:center"}
              = @production_standard[3]
              %sup Unit
            %td{style: "text-align:center"}
              = @production_standard[4]
              %sup Unit
            %td{style: "text-align:center"}
              = @production_standard[5]
              %sup Unit
            %td{style: "text-align:center"}
              = @production_standard[6]
              %sup Unit
            %td{style: "text-align:center"}
              = @production_standard[7]
              %sup Unit
            %td{style: "text-align:center"}
              = @production_standard[8]
              %sup Unit
            %td{style: "text-align:center"}
              = @production_standard[9]
              %sup Unit
            %td{style: "text-align:center"}
              = @production_standard[10]
              %sup Unit
            %td{style: "text-align:center"}
              = @production_standard[11]
              %sup Unit
            %th{style: "text-align:center"}
              = @production_standard[12]
              %sup Unit
          %tr{style: "color:#852314;"}
            %th{style: "padding-left:10px"} Forecast PDT
            %td{style: "text-align:center"}
              = @production_plan[0]
              %sup Unit
            %td{style: "text-align:center"}
              = @production_plan[1]
              %sup Unit
            %td{style: "text-align:center"}
              = @production_plan[2]
              %sup Unit
            %td{style: "text-align:center"}
              = @production_plan[3]
              %sup Unit
            %td{style: "text-align:center"}
              = @production_plan[4]
              %sup Unit
            %td{style: "text-align:center"}
              = @production_plan[5]
              %sup Unit
            %td{style: "text-align:center"}
              = @production_plan[6]
              %sup Unit
            %td{style: "text-align:center"}
              = @production_plan[7]
              %sup Unit
            %td{style: "text-align:center"}
              = @production_plan[8]
              %sup Unit
            %td{style: "text-align:center"}
              = @production_plan[9]
              %sup Unit
            %td{style: "text-align:center"}
              = @production_plan[10]
              %sup Unit
            %td{style: "text-align:center"}
              = @production_plan[11]
              %sup Unit
            %th{style: "text-align:center"}
              = @production_plan[12]
              %sup Unit
    
          %tr{style: "color:#55DD33;"}
            %th{style: "padding-left:10px"} Actual PDT
            %td{style: "text-align:center"}
              = @actual_pdts[0]
              %sup Unit
            %td{style: "text-align:center"}
              = @actual_pdts[1]
              %sup Unit
            %td{style: "text-align:center"}
              = @actual_pdts[2]
              %sup Unit
            %td{style: "text-align:center"}
              = @actual_pdts[3]
              %sup Unit
            %td{style: "text-align:center"}
              = @actual_pdts[4]
              %sup Unit
            %td{style: "text-align:center"}
              = @actual_pdts[5]
              %sup Unit
            %td{style: "text-align:center"}
              = @actual_pdts[6]
              %sup Unit
            %td{style: "text-align:center"}
              = @actual_pdts[7]
              %sup Unit
            %td{style: "text-align:center"}
              = @actual_pdts[8]
              %sup Unit
            %td{style: "text-align:center"}
              = @actual_pdts[9]
              %sup Unit
            %td{style: "text-align:center"}
              = @actual_pdts[10]
              %sup Unit
            %td{style: "text-align:center"}
              = @actual_pdts[11]
              %sup Unit
            %th{style: "text-align:center"}
              = @actual_pdts[12]
              %sup Unit
            
          %tr{style: "color:#5A287D;"}
            %th{style: "padding-left:10px"} To Finish WH
            %td{style: "text-align:center"}
              = @to_finish_whs[0]
              %sup Unit
            %td{style: "text-align:center"}
              = @to_finish_whs[1]
              %sup Unit
            %td{style: "text-align:center"}
              = @to_finish_whs[2]
              %sup Unit
            %td{style: "text-align:center"}
              = @to_finish_whs[3]
              %sup Unit
            %td{style: "text-align:center"}
              = @to_finish_whs[4]
              %sup Unit
            %td{style: "text-align:center"}
              = @to_finish_whs[5]
              %sup Unit
            %td{style: "text-align:center"}
              = @to_finish_whs[6]
              %sup Unit
            %td{style: "text-align:center"}
              = @to_finish_whs[7]
              %sup Unit
            %td{style: "text-align:center"}
              = @to_finish_whs[8]
              %sup Unit
            %td{style: "text-align:center"}
              = @to_finish_whs[9]
              %sup Unit
            %td{style: "text-align:center"}
              = @to_finish_whs[10]
              %sup Unit
            %td{style: "text-align:center"}
              = @to_finish_whs[11]
              %sup Unit
            %th{style: "text-align:center"}
              = @to_finish_whs[12]
              %sup Unit
            
          %tr{style: "color:#FF9600;"}
            %th{style: "padding-left:10px"} To Nursery WH
            %td{style: "text-align:center"}
              = @to_nursery_whs[0]
              %sup Unit
            %td{style: "text-align:center"}
              = @to_nursery_whs[1]
              %sup Unit
            %td{style: "text-align:center"}
              = @to_nursery_whs[2]
              %sup Unit
            %td{style: "text-align:center"}
              = @to_nursery_whs[3]
              %sup Unit
            %td{style: "text-align:center"}
              = @to_nursery_whs[4]
              %sup Unit
            %td{style: "text-align:center"}
              = @to_nursery_whs[5]
              %sup Unit
            %td{style: "text-align:center"}
              = @to_nursery_whs[6]
              %sup Unit
            %td{style: "text-align:center"}
              = @to_nursery_whs[7]
              %sup Unit
            %td{style: "text-align:center"}
              = @to_nursery_whs[8]
              %sup Unit
            %td{style: "text-align:center"}
              = @to_nursery_whs[9]
              %sup Unit
            %td{style: "text-align:center"}
              = @to_nursery_whs[10]
              %sup Unit
            %td{style: "text-align:center"}
              = @to_nursery_whs[11]
              %sup Unit
            %th{style: "text-align:center"}
              = @to_nursery_whs[12]
              %sup Unit
            
          %tr{style: "color:#1EA6A3;"}
            %th{style: "padding-left:10px"} Spoiled
            %td{style: "text-align:center"}
              = @spoiled[0]
              %sup Unit
            %td{style: "text-align:center"}
              = @spoiled[1]
              %sup Unit
            %td{style: "text-align:center"}
              = @spoiled[2]
              %sup Unit
            %td{style: "text-align:center"}
              = @spoiled[3]
              %sup Unit
            %td{style: "text-align:center"}
              = @spoiled[4]
              %sup Unit
            %td{style: "text-align:center"}
              = @spoiled[5]
              %sup Unit
            %td{style: "text-align:center"}
              = @spoiled[6]
              %sup Unit
            %td{style: "text-align:center"}
              = @spoiled[7]
              %sup Unit
            %td{style: "text-align:center"}
              = @spoiled[8]
              %sup Unit
            %td{style: "text-align:center"}
              = @spoiled[9]
              %sup Unit
            %td{style: "text-align:center"}
              = @spoiled[10]
              %sup Unit
            %td{style: "text-align:center"}
              = @spoiled[11]
              %sup Unit
            %th{style: "text-align:center"}
              = @spoiled[12]
              %sup Unit
            
          %tr{style: "color:#FF0055;"}
            %th{style: "padding-left:10px"} Free at Farm
            %td{style: "text-align:center"}
              = @free_at_farm[0]
              %sup Unit
            %td{style: "text-align:center"}
              = @free_at_farm[1]
              %sup Unit
            %td{style: "text-align:center"}
              = @free_at_farm[2]
              %sup Unit
            %td{style: "text-align:center"}
              = @free_at_farm[3]
              %sup Unit
            %td{style: "text-align:center"}
              = @free_at_farm[4]
              %sup Unit
            %td{style: "text-align:center"}
              = @free_at_farm[5]
              %sup Unit
            %td{style: "text-align:center"}
              = @free_at_farm[6]
              %sup Unit
            %td{style: "text-align:center"}
              = @free_at_farm[7]
              %sup Unit
            %td{style: "text-align:center"}
              = @free_at_farm[8]
              %sup Unit
            %td{style: "text-align:center"}
              = @free_at_farm[9]
              %sup Unit
            %td{style: "text-align:center"}
              = @free_at_farm[10]
              %sup Unit
            %td{style: "text-align:center"}
              = @free_at_farm[11]
              %sup Unit
            %th{style: "text-align:center"}
              = @free_at_farm[12]
              %sup Unit

    %br
    .row
      #coconut_classification_chart{:style => "height: 350px"}

:javascript
  google.load('visualization', '1', {packages: ['corechart', 'line']});
  google.setOnLoadCallback(drawBasic);
  
  function drawBasic() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'X');
    data.addColumn('number', 'Standard PDT');
    data.addColumn('number', 'Forecast PDT');
    data.addColumn('number', 'Actual PDT');
    data.addColumn('number', 'To Finish WH');
    data.addColumn('number', 'To Nursery WH');
    data.addColumn('number', 'Spoiled');
    data.addColumn('number', 'Free at Farm');
  
    data.addRows([
      ["Jan-15",  5, 15,  2, 12,  9,  3,  6],
      ["Feb-15", 10,  3,  8,  3,  7, 10,  4],
      ["Mar-15", 23, 13,  6,  3, 17, 10, 24],
      ["Apr-15", 17,  3, 18, 13,  7, 10, 14],
      ["May-15", 18, 13,  8, 23, 27, 10, 14],
      ["Jun-15",  9,  3, 18, 13, 17, 10,  4],
      ["Jul-15", 11, 23,  8, 33, 27, 10,  4],
      ["Aug-15", 27,  3, 18,  3,  7, 10,  4],
      ["Sep-15", 33,  3, 28, 13,  7, 10,  4],
      ["Oct-15", 40,  3,  8, 23, 17, 10,  4],
      ["Nov-15", 32,  3,  8,  3,  7, 10, 24],
      ["Dec-15", 35,  3,  8,  3,  7, 10, 14]
    ]);
  
    var options = {
      hAxis: {
        title: 'Period'
      },
      vAxis: {
        title: 'Production'
      },
      colors:['#3333FF','#852314', '#55DD33', '#5A287D', '#FF9600', '#1EA6A3', '#FF0055']
    };
  
    var chart = new google.visualization.LineChart(document.getElementById('coconut_classification_chart'));
  
    chart.draw(data, options);
  }
