/ = simple_form_for @user_group, html: { class: "form-horizontal" } do |f|
/   .form-group
/     %label.col-xs-2.control-label Name
/     .col-xs-5
/       = f.input :name, label: false, input_html: { class: "form-control" }
/       %span.help-block= f.error :name
/   .form-group
/     %label.col-xs-2.control-label 
/     .col-xs-5
/       = f.input :note, label: false, input_html: { class: "form-control" }
/       %span.help-block= f.error :note
/   .form-group
/     %label.col-xs-2.control-label Active
/     .col-xs-5
/       = f.input :active, label: false
/       %span.help-block= f.error :active
/   .form-group
/     .col-xs-7
/       .pull-right
/         = render partial: 'form_button', locals: { f: f }

%h3= @user_group.name
%table.table
  %thead
    %tr
      %th.col-md-3= "Resource name"
      %th.col-md-2= "Full access"
      %th.col-md-1= "View"
      %th.col-md-1= "Create"
      %th.col-md-1= "Update"
      %th.col-md-1= "Delete"
  - @resources.each do |resource|
    %tr
      %td= resource.name
      - resource.permissions.each do |permission|
        - if permission.user_group_id == @user_group.uuid
          %td
            = check_box_tag permission.access_full, :data => { resource_id: resource.id, user_group_id: @user_group.uuid }
            
          %td
            = check_box_tag permission.access_list
            / permission.access_list
          %td
            = check_box_tag permission.access_create
          %td
            = check_box_tag permission.access_update
          %td
            = check_box_tag permission.access_delete
