.form-group
  %label.control-label.text-left
  .col-xs-5.activity-title
    = @user_group.name 
%table.table
  %thead
    %tr
      %th.col-md-3= "Resource name"
      %th.col-md-2= "Full access"
      %th.col-md-1= "View"
      %th.col-md-1= "Create"
      %th.col-md-1= "Update"
      %th.col-md-1= "Delete"
    - @user_group.permissions.each do |permission|
      %tr
        %td= permission.resource.name
        %td
          = form_for (permission) do |f|
            - if permission.access_full
              %span{style: "color:green;"}= "set"
              |
              #{f.hidden_field :access_full, value: false}
              #{submit_tag "unset", :class => "btn btn-default btn-xs"}
            - else
              %span{:style => "color:red;"}= "unset"
              |
              #{f.hidden_field :access_full, value: true}
              #{submit_tag "set", :class => "btn btn-default btn-xs"}
        %td
          = form_for (permission) do |f|
            - if permission.access_list
              %span{style: "color:green;"}= "set"
              |
              #{f.hidden_field :access_list, value: false}
              #{submit_tag "unset", :class => "btn btn-default btn-xs"}
            - else
              %span{:style => "color:red;"}= "unset"
              |
              #{f.hidden_field :access_list, value: true}
              #{submit_tag "set", :class => "btn btn-default btn-xs"}
        %td
          = form_for (permission) do |f|
            - if permission.access_create
              %span{style: "color:green;"}= "set"
              |
              #{f.hidden_field :access_create, value: false}
              #{submit_tag "unset", :class => "btn btn-default btn-xs"}
            - else
              %span{:style => "color:red;"}= "unset"
              |
              #{f.hidden_field :access_create, value: true}
              #{submit_tag "set", :class => "btn btn-default btn-xs"}
        %td
          = form_for (permission) do |f|
            - if permission.access_update
              %span{style: "color:green;"}= "set"
              |
              #{f.hidden_field :access_update, value: false}
              #{submit_tag "unset", :class => "btn btn-default btn-xs"}
            - else
              %span{:style => "color:red;"}= "unset"
              |
              #{f.hidden_field :access_update, value: true}
              #{submit_tag "set", :class => "btn btn-default btn-xs"}
        %td
          = form_for (permission) do |f|
            - if permission.access_delete
              %span{style: "color:green;"}= "set"
              |
              #{f.hidden_field :access_delete, value: false}
              #{submit_tag "unset", :class => "btn btn-default btn-xs"}
            - else
              %span{:style => "color:red;"}= "unset"
              |
              #{f.hidden_field :access_delete, value: true}
              #{submit_tag "set", :class => "btn btn-default btn-xs"}
%tr
  .pull-right
    = link_to "User group", user_groups_path, class: "btn btn-primary"
