- @warehouse_item_receive_transactions.each do |warehouse_item_receive_transaction|

  - if warehouse_item_receive_transaction.transaction_status == "Received"
    %div.received-header 
      ="Request No:"
      = warehouse_item_receive_transaction.requested_number
      = '('
      = warehouse_item_receive_transaction.transaction_status
      = '), Requested:'
      = warehouse_item_receive_transaction.amount
      = ', Remaining:'
      - if warehouse_item_receive_transaction.remaining_amount > 0
        = warehouse_item_receive_transaction.remaining_amount
      - else
        = "0.0"

  - elsif warehouse_item_receive_transaction.transaction_status == "Partially Received"
    %div.partially-received-received-header
      ="Request No:"
      = warehouse_item_receive_transaction.requested_number
      = '('
      = warehouse_item_receive_transaction.transaction_status
      = '), Requested:'
      = warehouse_item_receive_transaction.amount
      = ', Remaining:'
      - if warehouse_item_receive_transaction.remaining_amount > 0
        = warehouse_item_receive_transaction.remaining_amount
      - else
        = "0.0"

  - elsif warehouse_item_receive_transaction.transaction_status == "Closed"  
    %div.closed-received-header
      ="Request No:"
      = warehouse_item_receive_transaction.requested_number
      = '('
      = warehouse_item_receive_transaction.transaction_status
      = '), Requested:'
      = warehouse_item_receive_transaction.amount
      = ', Remaining:'
      - if warehouse_item_receive_transaction.remaining_amount > 0
        = warehouse_item_receive_transaction.remaining_amount
      - else
        = "0.0"    
  
  %table.table
    %thead
      %tr
        %th.col-md-2= "Received Date"
        %th.col-md-2= "Issue By"
        %th.col-md-2= "Received By"
        %th.col-md-2= "Material"
        %th.col-md-2= "Material Category"
        %th.col-md-2= "Received Quantity"

      - @warehouse_material_receives = warehouse_item_receive_transaction.warehouse_material_receiveds
      - @warehouse_material_receives.each do |warehouse_material_receive|
        - material = Material.find_by_uuid(warehouse_item_receive_transaction.material_id)
        - sender_warehouse = Warehouse.find_by_uuid(warehouse_item_receive_transaction.sender_id)
        - receiver_warehouse = Warehouse.find_by_uuid(warehouse_item_receive_transaction.receiver_id)

        %tr
          %td= warehouse_material_receive.received_date
          %td= sender_warehouse.name
          %td= receiver_warehouse.name
          %td
            = material.name
          %td
            = material.material_category.name
          %td
            = warehouse_material_receive.received_amount
            = '('
            = material.unit_of_measurement.name
            = ')'  
.pull-right
  = paginate @warehouse_item_receive_transactions
