%h2= "Receiving Form"
%hr
= simple_form_for @warehouse_material_received, html: { class: "form-horizontal" } do |f|
  .form-group
    %label.col-xs-2.control-label Remaining Quantity *
    .col-xs-5
      = f.input :warehouse_item_transaction_id, label: false, input_html: { value: @warehouse_item_transaction_remaining_amount, class: "form-control" }, error_html: { class: "err_msg" }, readonly: true
    %span.help-block= f.error :warehouse_item_transaction_id
  .form-group
    %label.col-xs-2.control-label Received Quantity *
    .col-xs-5
      = f.input :received_amount, label: false, input_html: { class: "form-control", value: f.object.received_amount || '0.0' }, error_html: { class: "err_msg" }
    %span.help-block= f.error :received_amount  
  .form-group
    %label.col-xs-2.control-label Receive Date
    .col-xs-5
      = f.text_field :received_date, label: false, :class => "form-control", :type => "text", :data => {:date_format => "YYYY-MM-DD"}, error_html: { class: "err_msg" }, readonly: true, :input_html => { class: "form-control" }, value: Date.today 
  .form-group
    .col-xs-5
      = f.input :warehouse_item_transaction_id, input_html: { value: @warehouse_item_transaction.uuid }, as: :hidden
  .form-group
    .col-xs-5
      = f.input :created_by, :input_html => { :value => current_user.uuid }, as: :hidden
  .form-group
    .col-xs-5
      = f.input :updated_by, :input_html => { :value => current_user.uuid }, as: :hidden    
  .form-group
    .col-xs-7
      .pull-right
        = submit_tag "Receive Item", class: "btn btn-primary", locals: { f: f }
        = link_to "Cancel", :back, class: "btn btn-default", locals: { f: f }

:javascript
  $('.date_pick').datetimepicker({});        