%h1 Warehouse type List
%div
  %table.table.listing{:summary => "Warehouse Types list"}
    %tr.header
      %th Type
      %th Description
      %th Active
      %th Actions
    - @warehousetypes.each do |warehousetype|
      %tr
        %td= warehousetype.name
        %td= warehousetype.description
        / %td= check_box_tag :active, if :checked?, "active", "inactive"
        %td
          - if warehousetype.active?
            = "active" 
          - else  
            = "inactive"
        %td
          = link_to "Show", warehouse_type_path(warehousetype.id), class: "btn btn-warning btn-xs"
          = link_to "Edit", edit_warehouse_type_path(warehousetype.id), class: "btn btn-warning btn-xs"

= link_to "New Warehouse Type", new_warehouse_type_path, class: "btn btn-primary"