%h1 Warehouse Type Information
%div
  %table.table.listing{:summary => "Warehouse type information"}
    %tr.header
      %th Fields
      %th Information

      %tr
        %th Name
        %td= @warehousetype.name
      %tr
        %th Description
        %td= @warehousetype.description
      %tr
        %th Active
        %td
          - if @warehousetype.active?
            = "yes" 
          - else  
            = "no"

= link_to "New Warehouse Type", new_warehouse_type_path, class: "btn btn-primary"
= link_to "Edit Warehouse", edit_warehouse_type_path, class: "btn btn-primary"