#calendar
/ Large modal
#myModal.modal.fade.bs-example-modal-lg{"aria-hidden" => "true", "aria-labelledby" => "myLargeModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h4#myLargeModalLabel.modal-title Choose an Activity
      .modal-body
        .row
          .activity-type-chooser-list
            .col-md-2.col-md-offset-1
              %form{action: new_event_path}
                %input#current-date{:type => "hidden", name: "current-date"}
                / %input{type: "submit"}
                %input.btn.btn-primary.activity-pannel{type: "submit", value: "Tilling"}
            .col-md-2
              = link_to "Planting", new_event_path, class: "btn activity-pannel btn-warning", id: "btn-planting" 
            .col-md-2
              = link_to "Spraying", new_warehouse_type_path, class: "btn activity-pannel btn-success" 
            .col-md-2
              = link_to "Fertilizing", new_warehouse_type_path, class: "btn activity-pannel btn-danger" 
            .col-md-2
              = link_to "Harvesting", warehouses_path, class: "btn activity-pannel btn-danger"
      .modal-footer
        .pull-right
          = submit_tag 'Cancel', :type => :reset, :class => "btn btn-default", "data-dismiss" => "modal", "aria-hidden" => "true"