%table.list_data_table
  %thead
    %tr
      %th.col-md-2= "Adjust Date"
      %th.col-md-1= "Warehouse"
      %th.col-md-2= "Production"
      %th.col-md-2= "Old Qty"
      %th.col-md-2= "Adjust Qty"
      %th.col-md-1= "Adjust By"
      %th.col-md-2= "Note"
  %tfoot
    %tr
      %td.col-md-2= "Adjust Date"
      %td.col-md-1= "Warehouse"
      %td.col-md-2= "Production"
      %td.col-md-2= "Old Qty"
      %td.col-md-2= "Adjust Qty"
      %td.col-md-1= "Adjust By"
      %td.col-md-2= "Note"
  %tbody
    - @production_adjustments.each do |pj|
      %tr
        %td= pj.adjust_date
        %td= pj.warehouse_production_amount.warehouse.name
        %td= pj.warehouse_production_amount.production.status
        %td
          = pj.old_amount
          = "("
          = pj.warehouse_production_amount.production.unit_of_measurement.name
          = ")"
        %td
          = pj.new_amount
          = "("
          = pj.warehouse_production_amount.production.unit_of_measurement.name
          = ")"
        %td= pj.user_name
        %td= pj.note

:javascript
  $(document).ready(function() {
    $('.list_data_table').DataTable({
      "bSort": false,
      "columnDefs": [{ "visible": false, "targets": 1 }],
      "order": [[ 1, 'asc' ]],
      "displayLength": 25,
      "drawCallback": function ( settings ) {
            var api = this.api();
            var rows = api.rows( {page:'current'} ).nodes();
            var last=null;
 
            api.column(1, {page:'current'} ).data().each( function ( group, i ) {
                if ( last !== group ) {
                    $(rows).eq( i ).before(
                        '<tr class="group"><td colspan="6">'+group+'</td></tr>'
                    );
 
                    last = group;
                }
            } );
        }
    });
  });