#myModalAdd.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", "data-backdrop"=>"static", "data-keyboard" =>"false"}
  .modal-dialog.custom-modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#myModalLabel.modal-title Edit #{block.name}
      .modal-body
        .row
          .col-lg-3
            = form_for [:farm, block], remote: true, :url => {:controller => 'blocks', :action => 'update'}, html: {role: :form, 'data-model' => 'farm', :class => "form-horizontal"} do |f|
              = f.hidden_field :farm_id, value: block.farm_id
              .form-group
                .col-lg-11
                  .col-xs-5
                    = f.label "Block Name"
                  .col-xs-6
                    = f.text_field :name, class: 'form-control', placeholder: 'Block Name'
                    .msg-name.alert-danger{:role => "alert"}
              .form-group
                .col-xs-11
                  .col-xs-5
                    = f.label "Surface Area"
                  .col-xs-6
                    = f.text_field :surface, class: 'form-control', placeholder: 'Surface Area'
                    .msg-surface.alert-danger{:role => "alert"}
              .form-group
                .col-xs-11
                  .col-xs-5
                    = f.label "Tree Amount"
                  .col-xs-6
                    = f.text_field :tree_amount, class: 'form-control', placeholder: 'Tree Amount'
                    .msg-tree_amount.alert-danger{:role => "alert"}
              .form-group
                .col-xs-11
                  .col-xs-5
                    = f.label "Fruitful Amount"
                  .col-xs-6
                    = f.text_field :fruitful_tree, class: 'form-control', placeholder: 'Fruitful Amount'
                    .msg-tree_amount.alert-danger{:role => "alert"}
              .form-group
                .col-xs-11
                  .input-group
                    = f.select :planting_project_id, planting.collect {|p| [ p.name, p.id ] }, {prompt: "Select Planting Type"}, class: 'form-control'
                    %span.input-group-btn
                      %button.btn.btn-success#btn-draw-block.fa.fa-pencil-square-o{:type => "button", disabled: "disabled"} Draw
                    .msg-planting_project_id.alert-danger{:role => "alert"}
              = f.hidden_field :shape_lat_long, class: 'form-control', placeholder: 'shape_lat_long'
              .msg-shape_lat_long.alert-danger{:role => "alert"}
              .form-group
                .col-xs-11
                  = f.text_field :location_lat_long, class: 'form-control', placeholder: 'Block Location', readonly: true
                  .msg-location_lat_long.alert-danger{:role => "alert"}
              .form-group
                .col-xs-11
                  .modal-footer.custom-modal-footer
                    %button.btn.btn-default.btn-cancel{"data-dismiss" => "modal", :type => "button"} Cancel
                    = f.submit :class => "btn btn-primary"
          .col-lg-9
            #map-block