#myModalAddZone.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", "data-backdrop"=>"static"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#myModalLabel.modal-title Zone List
      .modal-body
        .row
          .col-lg-6
            %h4 Add Zone Detail
            = form_for [:farm, zone], remote: true, :url => {:controller => 'blocks', :action => 'create_zone'}, html: {role: :form, 'data-model' => 'farm', :class => "form-horizontal"} do |f|
              .col-xs-12
                .form-group
                  .col-sm-3.control-label
                    = f.label :name
                  .col-sm-9
                    = f.text_field :name, class: 'form-control', placeholder: 'Zone Name'
                    .msg-name.alert-danger{:role => "alert"}
              .form-group
                .col-xs-12
                  .modal-footer.custom-modal-footer
                    %button.btn.btn-default.btn-cancel{"data-dismiss" => "modal", :type => "button"} Cancel
                    = f.submit :class => "btn btn-primary"
          .col-lg-6
            .col-xs-12
              %h4 Zone List
              %table.table
                - if zones.blank?
                  %tbody.zone-data
                - else
                - zones.each do |each_zone|
                  = render 'blocks/buttons/delete_zone_link', local: each_zone