%table.table
  %thead
    %tr
      %th.col-md-5= "Name"
      %th.col-md-3= "URL"
      %th.col-md-3= "Active"
      %th.col-md-1= "Actions"
  - @resources.each do |resource|
    %tr
      %td= resource.name
      %td= resource.url
      %td
        = form_for(resource) do |f|
          - if resource.active
            %span{style: "color:green;"}= "active"
            |
            #{f.hidden_field :active, value: false}
            #{submit_tag "deactivate", :class => "btn btn-default btn-xs"}
          - else
            %span{:style => "color:red;"}= "inactive"
            |
            #{f.hidden_field :active, value: true}
            #{submit_tag "activate", :class => "btn btn-default btn-xs"}
      %td
        - if can? :update, Resource
          = link_to "Edit", edit_resource_path(resource)
.pull-right
  = paginate @resources