%table.table
  %tr.header
    %th Name
    %th Note
    %th Active
    %th Actions
  - resources.each do |resource|
    %tr
      %td= resource.name
      %td= resource.note
      %td
        - if resource.active?
          = "active"
        - else  
          = "inactive"
      %td
        = link_to "Show", resource_path(resource), class: "btn btn-default"
        / - if can? :update, resource
        = link_to "Edit", edit_resource_path(resource), class: "btn btn-default"