%h2
  = "Input Use Report"

%hr
  .row
    = form_tag input_uses_path, :class => 'form-inline', :role => 'form', :method => 'get' do
      .form-group
        .col-xs-5
          .input-group
            .input-group-addon= "Start Date"
            - @remember_start_date= params[:start_date]["started_at"] if params[:start_date].present?
            = text_field_tag "start_date[started_at]", @remember_start_date, :class => "form-control date_pick", :type => "text", data: { :date_format => 'YYYY-MM-DD' }, :placeholder => "Year-Month-Date"
        .col-xs-5
          .input-group
            .input-group-addon= "End Date"
            - @remember_end_date= params[:start_date]["ended_at"] if params[:start_date].present?
            = text_field_tag "start_date[ended_at]", @remember_end_date, :class => "form-control date_pick", :type => "text", :data => {:date_format => "YYYY-MM-DD"}, :placeholder => "Year-Month-Date"
        .col-xs-1
          = submit_tag 'Filter', :class => 'btn btn-success', :name => nil


- if params[:start_date].present?
  .row
    #print_report{style: "margin-left: -20px; margin-top: 10px;"}
  .row#report
    .form-group{style: "margin-top: 20px;"}
      .col-xs-6
        %table#data_table
          %thead
            %tr
              %th.header= "Ref."
              %th.header= "Task"
              %th.header= "Labor"
              %th.header= "Machinery"     
          - @input_tasks.each do |input_task|
            %tr
              %td= input_task.reference_number
              %td= input_task.name
              %td= input_task.labor.name
              %td
                - if input_task.machinery_id.present?
                  = input_task.machinery.name

      .col-xs-6
        %table.list_data_table
          %thead
            %tr
              %th.col-md-2.header= "Material Name"
              %th.col-md-1.header= "Material Category"
              %th.col-md-3.header= "Qty"
          %tbody
            - @input_tasks.joins(:material).group("materials.name").order("material_cate_uuid").each do |input_task|
              %tr
                %td= input_task.material.name
                %td= input_task.material.material_category.name
                %td
                  = @input_tasks.where(:material_id => input_task.material_id).sum(:material_amount).to_s + "( " + input_task.material.unit_of_measurement.name + " )"

  = link_to "PDF",  downloadpdf_input_uses_path, title: "Download Report as PDF",class: "btn btn-primary", style: "float: right; margin-top: 10px;"

  
    


- content_for :javascript_body do
  = stylesheet_link_tag "application"
  = stylesheet_link_tag "input_uses", :media => "all"
  = stylesheet_link_tag "print", :media => :print, "data-turbolinks-track" => true
  = stylesheet_link_tag "print-preview", :media => :screen, "data-turbolinks-track" => true
  = javascript_include_tag "application"



:javascript
  $('.date_pick').datetimepicker();

  $('#data_table').DataTable({
      "bSort": false,
      "bFilter": false,
      "bInfo": false,
      "bPaginate": false
    });

  $(document).ready(function() {
    $('.list_data_table').DataTable({
      "bSort": false,
      "bFilter": false,
      "bInfo": false,
      "bPaginate": false,
      "columnDefs": [{ "visible": false, "targets": 1 }],
      "order": [[ 1, 'asc' ]],
      "displayLength": 25,
      "drawCallback": function ( settings ) {
            var api = this.api();
            var rows = api.rows( {page:'current'} ).nodes();
            var last=null;
 
            api.column(1, {page:'current'} ).data().each( function ( group, i ) {
                if ( last !== group ) {
                    $(rows).eq( i ).before(
                        '<tr class="group"><td colspan="2">'+group+'</td></tr>'
                    );
 
                    last = group;
                }
            } );
        }
    });
  });