%h1 Input Use Report
%h1.filter-bar-input-use
  = render partial: "report_filter", path: input_uses_path

- if params[:filter].present?
  .report-material
    %table.table.table-bordered
      %tr
        %th{rowspan: params[:filter][:farm_id] == "g_total" ? 1 : 3, style: "vertical-align: middle; white-space: nowrap; text-align: center;"}
          Materials
        %th{rowspan: params[:filter][:farm_id] == "g_total" ? 1 : 3, style: "vertical-align: middle; white-space: nowrap; text-align: center;"}
          UOM
        %th{style: "white-space: nowrap; text-align: center;", colspan: params[:filter][:farm_id] == "g_total" ? PlanFarm.sum_area("All") : PlanFarm.sum_area(params[:filter][:farm_id])}
          = params[:filter][:farm_id] == "g_total" ? "Total" : Farm.find(params[:filter][:farm_id]).name
      - unless params[:filter][:farm_id] == "g_total"
        %tr
          - Farm.find(params[:filter][:farm_id]).zones.each_with_index do |zone, i|
            %th{ style: "white-space: nowrap; text-align: center;", colspan: zone.areas.count }
              = zone.name
      - unless params[:filter][:farm_id] == "g_total"
        %tr
          - Farm.where(uuid: params[:filter][:farm_id]).each do |farm|
            - farm.zones.each do |zone|
              - zone.areas.each do |area|
                %th{ style: "white-space: nowrap; text-align: center;" }
                  = area.name
      - MaterialCategory.all.each do |mc|
        %tr
          %th{colspan: params[:filter][:farm_id] == "g_total" ? PlanFarm.sum_area("All") : PlanFarm.sum_area(params[:filter][:farm_id]) + 2}= mc.name
        - mc.materials.each do |m|
          %tr
            %td{class: "sub-category-space-left"}= m.name
            %td{style: "white-space: nowrap; text-align: center;"}= UnitOfMeasurement.find(m.unit_measure_uuid).name
            - unless params[:filter][:farm_id] == "g_total"
              - Farm.where(uuid: params[:filter][:farm_id]).each do |farm|
                - farm.zones.each do |zone|
                  - zone.areas.each do |area|
                    %td{style: "white-space: nowrap; text-align: center;"}= InputTask.get_total_amount_by_area(params[:filter][:start_date], params[:filter][:end_date], area.uuid, m.uuid) + InputTask.get_total_amount_by_area_machinery(params[:filter][:start_date], params[:filter][:end_date], area.uuid, m.uuid)
            - else
              %td{style: "white-space: nowrap; text-align: center;"}= InputTask.get_total_amount_group_by_material(params[:filter][:start_date], params[:filter][:end_date], m.uuid) + InputTask.get_total_amount_group_by_machinary(params[:filter][:start_date], params[:filter][:end_date], m.uuid)
  %br
  #print-input-use-report
    %span.glyphicon.glyphicon-print{style: "color: #428bca;"}
    %a#print_preview{style: "padding: 0"} Print

- content_for :javascript_body do
  = javascript_include_tag "input_uses"