= simple_form_for @jack_fruit, html: { class: "form-horizontal" } do |f|
  .container
    .row
      .col-md-7
        .form-group
          %label.col-xs-3.control-label.text-left Code
          .col-xs-9
            = f.input :code, label: false, error: false, input_html: { class: "form-control" }
        .form-group
          %label.col-xs-3.control-label.text-left Field
          .col-xs-9
            = f.input :field_uuid, label: false, error: false, collection: Field.all.map{ |p| [p.name, p.uuid] }, input_html: { class: "form-control" }
        .form-group
          %label.col-xs-3.control-label.text-left Production stage
          .col-xs-9
            = f.input :stage_uuid, label: false, error: false, collection: ProductionStage.all.map { |p| [p.name, p.uuid] }, input_html: { class: "form-control" }
        .form-group
          %label.col-xs-3.control-label.text-left JackFruit Type
          .col-xs-9
            = f.input :jack_fruit_type, label: false, error: false, collection: ["F1", "F3", "F3", "F4", "F9"], input_html: { class: "form-control" }
        .form-group
          %label.col-xs-3.control-label.text-left Grown By
          .col-xs-9
            = f.input :grown_by, label: false, error: false, collection: ["Seeding", "Grafting"], input_html: { class: "form-control" }
        .form-group
          %label.col-xs-3.control-label.text-left Planting Date
          .col-xs-9
            .controls
              = f.text_field :planting_date, data: { :date_format => 'YYYY/MM/DD' }, :class => 'form-control date_pick', placeholder: 'Year/Month/Day'
        .form-group
          %label.col-xs-3.control-label.text-left Note
          .col-xs-9
            = f.input :note, label: false, input_html: { class: "form-control" }
        .form-group
          %label.col-xs-3.control-label.text-left Active
          .col-xs-9
            = f.input :active, label: false
        .form-group
          .col-xs-12
            .pull-right
              = render partial: 'form_button', locals: { f: f }
      .col-md-4
        = render "error", :obj => @jack_fruit                

:javascript
  $('.date_pick').datetimepicker({});
