= simple_form_for @jack_fruit, html: { class: "form-horizontal" } do |f|
  .form-group
    %label.col-xs-2.control-label.text-left Code
    .col-xs-5
      = f.input :code, label: false, input_html: { class: "form-control" }
      %span.help-block= f.error :code
  .form-group
    %label.col-xs-2.control-label.text-left Field
    .col-xs-5
      = f.input :field_uuid, label: false, collection: @fields, input_html: { class: "form-control" }, include_blank: true
      %span.help-block= f.error :field_uuid
  .form-group
    %label.col-xs-2.control-label.text-left JackFruit Stage
    .col-xs-5
      = f.input :stage_uuid, label: false, collection: @stages, input_html: {class: "form-control"}, include_blank: true
      %span.help-block= f.error :stage_uuid
  .form-group
    %label.col-xs-2.control-label.text-left JackFruit Type
    .col-xs-5
      = f.input :jack_fruit_type, label: false, collection: ["F1", "F2", "F3", "F4", "F5"], input_html: { class: "form-control" }
      %span.help-block= f.error :jack_fruit_type
  .form-group
    %label.col-xs-2.control-label.text-left Grown By
    .col-xs-5
      = f.input :grown_by, label: false, collection: ["Seeding", "Grafting"], input_html: { class: "form-control" }
      %span.help-block= f.error :grown_by  
  .form-group
    %label.col-xs-2.control-label.text-left Planting Date
    .col-xs-5
      .input-group.date.date_pick
        = f.text_field :planting_date, :class => "form-control", :type => "text", :data => {:date_format => "YYYY-MM-DD"}, :placeholder => "Year-Month-Day", :readonly => true
        %span.input-group-addon
          %span.glyphicon.glyphicon-calendar    
      %span.help-block= f.error :planting_date  
  .form-group
    %label.col-xs-2.control-label.text-left Note
    .col-xs-5
      = f.input :note, label: false, input_html: { class: "form-control" }
      %span.help-block= f.error :note
  .form-group
    .col-xs-7
      .pull-right
        = render partial: 'form_button', locals: { f: f }

:javascript
  $(document).ready(function() {
    $(function () {
      $('.date_pick').datetimepicker({
        pickTime: false
      });
    });
  });