%table.table
  %thead
    %tr
      %th.col-md-2 Code
      %th.col-md-1 Grown By
      %th.col-md-1 Type
      / %th.col-md-2 Stage
      %th.col-md-2 Date
      %th.col-md-2 Active
      %th.col-md-1 Actions
  %tbody
    - @jack_fruits.each do |jack_fruit|
      %tr
        %td= jack_fruit.code
        %td= jack_fruit.grown_by
        %td= jack_fruit.jack_fruit_type
        / %td= jack_fruit.stage.name
        %td= jack_fruit.planting_date
        %td
          = form_for(jack_fruit) do |f|
            - if jack_fruit.active
              %span{style: "color:auto;"}= "active"
              |
              #{f.hidden_field :active, value: false}
              #{submit_tag "deactivate", :class => "btn btn-default btn-xs"}
            - else
              %span{:style => "color:red;"}= "inactive"
              |
              #{f.hidden_field :active, value: true}
              #{submit_tag "activate", :class => "btn btn-default btn-xs"}
        %td
          - if can? :update, jack_fruit
            = link_to "Edit", edit_jack_fruit_path(jack_fruit)
          = '|'
          - if can? :read, jack_fruit
            = link_to "Show", jack_fruit_path(jack_fruit)
.pull-right
  = paginate @jack_fruits