%table.table
  %thead
    %tr
      %th.col-md-2 Code
      %th.col-md-2 Grown By
      %th.col-md-1 Type
      %th.col-md-3 Stage
      %th.col-md-2 Date
      %th.col-md-1 Actions
  %tbody
    - @jack_fruits.each do |jack_fruit|
      %tr
        %td= jack_fruit.code
        %td= jack_fruit.grown_by
        %td= jack_fruit.jack_fruit_type
        %td= jack_fruit.stage.name
        %td= jack_fruit.planting_date.strftime('%Y-%B-%d')
        %td
          - if can? :update, jack_fruit
            = link_to "Edit", edit_jack_fruit_path(jack_fruit)
          = '|'
          = link_to "Show", jack_fruit_path(jack_fruit)
.pull-right
  = paginate @jack_fruits