%h1 JackFruit Information
%div
  %table.table
    %tr.header
      %th Fields
      %th Information
    %tr
      %th Field
      %td= @jack_fruit.field_uuid
    %tr
      %th Stage
      %td= @jack_fruit.stage.name
    %tr
      %th Type
      %td= @jack_fruit.jack_fruit_type
    %tr
      %th Planting date
      %td= @jack_fruit.planting_date
    %tr
      %th Note
      %td= @jack_fruit.note

- if can? :destroy, JackFruit 
  %a.delete-confirm.btn.btn-danger{"data-id" => @jack_fruit.id, :href => "#delete-confirm"}
    Delete

= link_to "Cancel", :back, class: "btn btn-default"

:javascript
  $('#delete-confirm').on('show', function() {
    var $submit = $(this).find('.btn-danger'), href = $submit.attr('href');
    $submit.attr('href', href.replace('pony', $(this).data('id')));
  });

  $('.delete-confirm').click(function(e) {
    e.preventDefault();
    $('#delete-confirm').data('id', $(this).data('id')).modal('show');
  });

#delete-confirm.modal.fade
  .modal-dialog
    .modal-content 
      .modal-header
        %a.close{"data-dismiss" => "modal"} ×
        Delete this Stage?
      .modal-body
        By clicking on Delete Button, you will destroy this Stage.
      .modal-footer
        %a.btn.btn-default{"data-dismiss" => "modal", :href => "#"} Cancel
        = link_to 'Delete', jack_fruit_path(@jack_fruit), method: :delete, :class => 'btn btn-danger'