= simple_form_for @stage, html: { class: "form-horizontal" } do |f|
  .form-group
    %label.col-xs-2.control-label Name
    .col-xs-5
      = f.input :name, label: false, input_html: { class: "form-control" }
      %span.help-block= f.error :name
  .form-group
    %label.col-xs-2.control-label Period
    .col-xs-5
      = f.input :period, label: false, input_html: { class: "form-control" }
      %span.help-block= f.error :period    
  .form-group
    %label.col-xs-2.control-label Note
    .col-xs-5
      = f.input :note, label: false, input_html: { class: "form-control" }
      %span.help-block= f.error :note
  .form-group
    %label.col-xs-2.control-label Fruit Type
    .col-xs-5
      = f.input :fruit_type, label: false, collection: ["jackfruit", "coconut"], input_html: { class: "form-control" }
      %span.help-block= f.error :fruit_type
  .form-group
    %label.col-xs-2.control-label.text-left Active
    .col-xs-5
      = f.input :active, label: false
      %span.help-block= f.error :active
  .form-group
    .col-xs-7
      .pull-right
        = render partial: 'form_button', locals: { f: f }
