%table.table
  %thead
    %tr
      %th.col-md-5= "Stage Name"
      %th.col-md-1= "Type"
      %th.col-md-4= "Note"
      %th.col-md-4= "Active"
      %th.col-md-1= "Actions"
  %tbody    
    - @stages.each do |stage|
      %tr
        %td= stage.name
        %td= stage.fruit_type
        %td= stage.note
        %td
          = form_for(stage) do |f|
            - if stage.active
              %span{style: "color:green;"}= "active"
              |
              #{f.hidden_field :active, value: false}
              #{submit_tag "deactivate", :class => "btn btn-default btn-xs"}
            - else
              %span{:style => "color:red;"}= "inactive"
              |
              #{f.hidden_field :active, value: true}
              #{submit_tag "activate", :class => "btn btn-default btn-xs"}
        %td
          - if can? :update, Stage
            = link_to "Edit", edit_stage_path(stage)

.pull-right
  = paginate @stages
