%table.table
  %thead
    %tr
      %th.col-md-5= "Stage Name"
      %th.col-md-1= "Type"
      %th.col-md-4= "Note"
      %th.col-md-4= "Active"
      %th.col-md-1= "Actions"
  %tbody    
    - @stages.each do |stage|
      %tr
        %td= stage.name
        %td= stage.fruit_type
        %td= stage.note
        %td
          - if stage.active?
            = "Actived"
          - else
            = "Inactived"
        %td
          - if can? :update, Stage
            = link_to "Edit", edit_stage_path(stage)

.pull-right
  = paginate @stages
