%table.table
  %thead
    %tr
      %th.col-md-3= "Name"
      %th.col-md-5= "Note"
      %th.col-md-2= "Active"
      %th.col-md-2= "Actions"
  - @roles.each do |role|
    %tr
      %td= role.label
      %td= role.note
      %td
        - if role.active?
          = "Actived"
        - else
          = "Inactived"
      %td
        - if can? :update, Role
          = link_to "Edit", edit_role_path(role)
.pull-right
  = paginate @roles
