%table.table
  %thead
    %tr
      %th.col-md-4= "Name"
      %th.col-md-8= "Note"
  - @transaction_statuses.each do |ts|
    %tr
      %td= ts.name
      %td= ts.note
.pull-right
  = paginate @transaction_statuses

