%br
.row{style: "margin-top: 1%"}
  .col-xs-6
    .panel.panel-default
      .panel-heading{:style => "background-color:PaleGreen; font-weight: bold;"}
        %h3.panel-title{:style => "font-weight: bold; color: Black"} Farms       
      .panel-body{:style => "width: 100%; height: 200px"}
        %div.tab-content
          %div.tab-pane.active
            %table.table
              %thead
                %tr
                  %th.col-md-3= "Name"
                  %th.col-md-2= "Weather"
                  %th.col-md-1= "View"
              - @farms.each do |farm|
                %tr
                  %td=farm.name
                  %td.temp{id: farm.uuid, latlong: farm.latlong_farm}
                    %i.fa.fa-cloud
                  %td
                    = link_to '<i class="fa fa-search-plus"></i>'.html_safe, farm_blocks_path(farm)

  .col-xs-6
    .panel.panel-default
      .panel-heading{:style => "background-color:PaleGreen;font-weight: bold"}
        %h3.panel-title{:style => "font-weight: bold; color: Black"} Projects
      .panel-body{:style => "width: 100%; height: 200px"}
        %div.tab-content
          %div.tab-pane.active
            %div
              - @planting_projects.each do |planting_project|
                = link_to planting_project.name, planting_project_path(planting_project), :class => "", :style => "font-size: 16px; font-weight: bold;"
                %hr{style: "margin: 5px;"}
                - planting_project.farms.distinct.each do |farm|
                  
                  %div{style: "font-size: 14px; padding-left: 15px"}=farm.name
                  %div{style: "padding-bottom: 15px; padding-left: 30px"}
                    Total Surface:
                    %span{style: "font-weight: bold"}=farm.blocks.where(:planting_project_id => planting_project.uuid).sum(:surface)
                    ; Total Tree:
                    %span{style: "font-weight: bold"}=farm.blocks.where(:planting_project_id => planting_project.uuid).sum(:tree_amount)

.row
  .col-xs-6
    .panel.panel-default
      .panel-heading{:style => "background-color:PaleGreen;font-weight: bold"}
        %h3.panel-title{:style => "font-weight: bold; color: Black"} Recent Activities
             
      .panel-body{:style => "width: 100%; height: 200px"}
        %div.tab-content
          %div.tab-pane.active
            %div
              - @planting_projects.each do |planting_project|
                %div{:style => "font-size: 16px; font-weight: bold;"}= planting_project.name
                %hr{style: "margin: 5px;"}
                / Input Task List
                - planting_project.input_tasks.order('updated_at DESC').limit(2).each do |input_task|
                  = link_to input_task_path(input_task.uuid) do
                    %div{style: "padding-left: 15px; padding-bottom: 5px;"}
                      %span{style: "font-weight: bold;"}= input_task.start_date.to_s 
                      %span=" : " + "InputTask Name:"
                      %span{style: "font-weight: bold;"}= App.find_by_uuid(input_task.name).nil? ? input_task.name : App.find_by_uuid(input_task.name).name
                      ; Block:
                      %span{style: "font-weight: bold;"}= input_task.block.name
                  
                - if planting_project.input_tasks.length > 2
                  %div{style: "font-size: 12px; padding-left: 15px; padding-bottom: 15px;"}
                    = link_to "More Input Task...", "input_tasks?planting_project_id=#{planting_project.uuid}"

                / Output Task List
                - planting_project.output_tasks.order('updated_at DESC').limit(2).each do |output_task|
                  = link_to output_task_path(output_task.uuid) do
                    %div{style: "padding-left: 15px; padding-bottom: 5px;"} 
                      %span{style: "font-weight: bold;"}= output_task.start_date.to_s 
                      %span=" : " + "OutputTask Name:"
                      %span{style: "font-weight: bold;"}= App.find_by_uuid(output_task.name).nil? ? output_task.name : App.find_by_uuid(output_task.name).name
                      ; Block:
                      %span{style: "font-weight: bold; padding-bottom: 15px;"}= output_task.block.name

                - if planting_project.output_tasks.length > 2
                  %div{style: "font-size: 12px; padding-left: 15px; padding-bottom: 15px;"}
                    = link_to "More Output Task...", "output_tasks?planting_project_id=#{planting_project.uuid}"

  .col-xs-6
    .panel.panel-default
      .panel-heading{:style => "background-color:PaleGreen;font-weight: bold"}
        %h3.panel-title{:style => "font-weight: bold; color: Black"} Yield Overview
             
      .panel-body{:style => "width: 100%; height: 200px"}
        %div.tab-content
          %div.tab-pane.active#parent_chart_div
            - @project_distributions.each do |p|
              %div{:id => "chart#{p[0]}", :style => "width: 100%; height: 190px"}
                %input{:type => "hidden", :value => ProductionStandard.total_standard_a_year(p[0], @year)}
                %input{:type => "hidden", :value => ProductionPlan.total_plan_a_year(p[0], @year)}
                %input{:type => "hidden", :value => OutputTask.grand_total_output_amount(p[0], Date.parse(@year+"-01-01"), Date.parse(@year+"-12-31"), p[1], @unit.uuid)}
                %input{:type => "hidden", :value => p[2]+" Production "+@year}

- content_for :javascript_body do
  = javascript_include_tag "dashboards.js"