.thumbnail.col-md-12
  = link_to edit_tractor_path(tractor) do
    = image_tag tractor.photo.url(:medium, timestamp: false)
%dl.dl-horizontal
  %dt= "Year"
  %dd= "#{tractor.year}"
  %dt= "Make"
  %dd= "#{tractor.make}"
  %dt= "Horsepower"
  %dd= "#{tractor.horse_power}"
  %dt= "Fuel capacity"
  %dd= "#{tractor.fuel_capacity}"
  %dt= "Ownership"
  %dd= "#{tractor.owner_ship}"
