= simple_form_for @tractor, html: {class: 'form-horizontal', multipart: true} do |f|
  .form-group
    %label.col-xs-2.control-label{for: 'tractor_name'} Name
    .col-xs-5
      = f.input :name, label: false, input_html: {class: "form-control"}
      %span.help-block= f.error :name
  .form-group
    %label.col-xs-2.control-label{for: 'tractor_horse_power'} Horse power
    .col-xs-5
      = f.input :horse_power, label: false, input_html: {class: "form-control"}
      %span.help-block= f.error :horse_power
  .form-group
    %label.col-xs-2.control-label{for: 'tractor_fuel_capacity'} Fuel capacity
    .col-xs-5
      = f.input :fuel_capacity, label: false, input_html: {class: "form-control"}
      %span.help-block= f.error :fuel_capacity
  .form-group
    %label.col-xs-2.control-label{for: 'tractor_make'} Make
    .col-xs-5
      = f.input :make, label: false, input_html: {class: "form-control"}
      %span.help-block= f.error :make
  .form-group
    %label.col-xs-2.control-label{for: 'tractor_model'} Model
    .col-xs-5
      = f.input :model, label: false, input_html: {class: "form-control"}
      %span.help-block= f.error :model
  .form-group
    %label.col-xs-2.control-label{for: 'tractor_year'} Year
    .col-xs-5
      = f.input :year, label: false, input_html: {class: "form-control"}
      %span.help-block= f.error :year
  .form-group
    %label.col-xs-2.control-label{for: 'tractor_value'} Price
    .col-xs-5
      = f.input :value, label: false, input_html: {class: "form-control"}
      %span.help-block= f.error :value
  .form-group
    %label.col-xs-2.control-label{for: 'tractor_note'} Note
    .col-xs-5
      = f.input :note, label: false, input_html: {class: "form-control"}
      %span.help-block= f.error :note
  .form-group
    %label.col-xs-2.control-label{for: 'tractor_photo'} Photo
    .col-xs-5
      = f.input :photo, label: false, input_html: {class: "form-control"}
  .form-group
    .col-xs-7
      .pull-right
        = render partial: 'form_button', locals: { f: f }