%table.table
  %thead
    %tr
      %th.col-md-2= "Name"
      %th.col-md-2= "Date"
      %th.col-md-1= "Block"
      %th.col-md-1= "Tree amount"
      %th.col-md-1= "Labor"
      %th.col-md-1= "Reference number"
      %th.col-md-1= "Warehouse"
      %th.col-md-1= "Material"
      %th.col-md-1= "Material amount"
      %th.col-md-1= "Action"
  - @input_tasks.each do |input_task|
    %tr
      %td= input_task.name
      %td= input_task.start_date.to_s + " To " + input_task.end_date.to_s
      %td= input_task.block.name
      %td= input_task.tree_amount
      %td= input_task.labor.name
      %td= input_task.reference_number
      %td= input_task.warehouse.name
      %td= input_task.material.name
      %td= input_task.material_amount.to_s + " " + input_task.material.unit_of_measurement.name
      %td= link_to "View", input_task_path(input_task)

.pull-right
  = paginate @input_tasks