%table#list_data_table
  %thead
    %tr
      %th= "Start date"
      %th= "End date"
      %th= "Planting Project"
      %th= "Task Name"
      %th= "Reference"
      %th= "Farm - Block"
      %th= "Tree amount"
      %th= "Labor"
      %th= "Action"
  - @input_tasks.each do |input_task|
    %tr
      %td= input_task.start_date.to_s
      %td= input_task.end_date.to_s
      %td= input_task.planting_project.name
      %td= input_task.name
      %td= input_task.reference_number
      %td= input_task.block.farm.name.to_s + " - " + input_task.block.name
      %td= input_task.tree_amount
      %td= input_task.labor.name
      %td
        - if can? :read, input_task
          = link_to "View", input_task_path(input_task)