%h3 InputTask Information
%div
  %table.table
    %tr
      %th.col-xs-3.header-title Fields
      %th.col-xs-9.header-title Informations
    %tr
      %th Task Name
      %td= App.find_by_uuid(@input_task.name).nil? ? @input_task.name : App.find_by_uuid(@input_task.name).name
    %tr
      %th Start date
      %td= @input_task.start_date.to_s
    %tr
      %th End date
      %td= @input_task.end_date.to_s
    %tr
      %th Farm - Zone - Area - Block
      - name = @input_task.block_id == "" ? "(All Blocks)" : @input_task.block.name
      %td= @input_task.farm.name + " - " + @input_task.zone.name + " - " + @input_task.area.name + " - " + name
    %tr
      %th Planting Project
      %td= @input_task.planting_project.name
    %tr
      %th Tree amount
      %td= @input_task.tree_amount
    %tr
      %th Labor
      %td= @input_task.labor.name
    %tr
      %th Reference Number
      %td= @input_task.reference_number
    %tr
      %th Equipments
      %td
        - @input_use_equipments.each do |input_use_equip|
          = Equipment.where(uuid: input_use_equip.equipment_id).first.name
          %br
    %tr
      %th Machineries
      %td
        - @input_use_machineries.each do |input_use_machinery|
          %span{style: "padding-right: 10%"}= Machinery.where(uuid: input_use_machinery.machinery_id).first.name
          %span{style: "font-weight: bold;"} Warehouse:
          %span{style: "padding-right: 5%"}= Warehouse.where(uuid: input_use_machinery.warehouse_id).first.name
          %span{style: "font-weight: bold;"} Material:
          %span{style: "padding-right: 5%"}= Material.where(uuid: input_use_machinery.material_id).first.name
          %span{style: "font-weight: bold;"} Material Qty:
          %span= input_use_machinery.material_amount
          %span= " " + Material.find_by_uuid(input_use_machinery.material_id).unit_of_measurement.name
          %br
    %tr
      %th Materials
      %td
        - @input_use_materials.each do |input_use_material|
          %span{style: "padding-right: 10%"}= Material.where(uuid: input_use_material.material_id).first.name
          %span{style: "font-weight: bold;"} Warehouse:
          %span{style: "padding-right: 5%"}= Warehouse.where(uuid: input_use_material.warehouse_id).first.name
          %span{style: "font-weight: bold;"} Material Qty:
          %span= input_use_material.material_amount
          %span= " " + Material.find_by_uuid(input_use_material.material_id).unit_of_measurement.name
          %br
    %tr
      %th Note
      %td= @input_task.note

.row{:style => "padding-top:20px;"}
  .col-xs-12
    .pull-right
      = link_to "Cancel", input_tasks_path, class: "btn btn-default"

:css
  .header-title{
    font-size: 16px;
  }
  
