%h3 InputTask Information
%div
  %table.table
    %tr.header
      %th Fields
      %th Information
    %tr
      %th Start date
      %td= @input_task.start_date.to_s
    %tr
      %th End date
      %td= @input_task.end_date.to_s
    %tr
      %th Task
      %td= @input_task.name
    %tr
      %th Block Name
      %td= @input_task.block.name
    %tr
      %th Tree amount
      %td= @input_task.tree_amount
    %tr
      %th Labor name
      %td= @input_task.labor.name
    / %tr
    /   %th Machinery
    /   %td
    /     - if @input_task.machinery_id.present?
    /       = @input_task.machinery.name
    /     - else
        
    %tr
      %th Reference
      %td= @input_task.reference_number 
    / %tr
    /   %th Warehouse name
    /   %td= @input_task.warehouse.name
    / %tr
    /   %th Material name
    /   %td= @input_task.material.name
    / %tr
    /   %th Quantity
    /   %td= @input_task.material_amount.to_s + " ( " + @input_task.material.unit_of_measurement.name + " )"
    %tr
      %th Note
      %td= @input_task.note   

= link_to "Cancel", :back, class: "btn btn-default"