%table.table
  %thead
    %tr
      %th= "Request By"
      %th= "Request To"
      %th= "Requested Date"
      %th= "Received Date"
      %th= "Requested No"
      %th= "Material"
      %th= "Material Category"
      %th= "Amount"
  - @warehouse_item_received_transactions.each do |warehouse_item_received_transaction|
    - material = Material.find_by_uuid(warehouse_item_received_transaction.material_id)
    - sender_warehouse = Warehouse.find_by_uuid(warehouse_item_received_transaction.sender_id)
    - receiver_warehouse = Warehouse.find_by_uuid(warehouse_item_received_transaction.receiver_id)
    %tr
      %td= sender_warehouse.name
      %td= receiver_warehouse.name
      %td= warehouse_item_received_transaction.requested_date
      %td= warehouse_item_received_transaction.received_date
      %td= warehouse_item_received_transaction.requested_number
      %td
        = material.name
      %td
        = material.material_category.name
      %td
        = warehouse_item_received_transaction.amount
        = '('
        = material.unit_of_measurement.name
        = ')'
.pull-right
  = paginate @warehouse_item_received_transactions          
