.row
  %h1
    = "Productivity Report - Coconut"
  %hr
  = render partial: 'report_filter', path: report_productivities_coconut_index_path
  
  - if !params[:filter].nil? && params[:filter][:farm_id]!="g_total"
    %br
    .row
      .col-xs-12
        %table.table-bordered{cellpadding: "5px", style: "width:100%"}
          %tr
            %th{rowspan: "3", style: "text-align:center"} Farm
            %th{rowspan: "3", style: "text-align:center"} Zone
            %th{rowspan: "3", style: "text-align:center"} Area
            %th{colspan: "5", style: "text-align:center"} Total Production
            %th{colspan: "6", style: "text-align:center"} Production Distribution
          %tr
            %th{colspan: "2", style: "text-align:center"} Young Fruit
            %th{colspan: "2", style: "text-align:center"} Ripe Fruit
            %th{rowspan: "2", style: "text-align:center"} Total
            %th{rowspan: "2", style: "text-align:center"} To Finish goods Warehouse
            %th{rowspan: "2", style: "text-align:center"} Free at Farm
            %th{rowspan: "2", style: "text-align:center"} Spoiled Waste
            %th{rowspan: "2", style: "text-align:center"} To Nursery Warehouse
            %th{rowspan: "2", style: "text-align:center"} Total Distribution
            %th{rowspan: "2", style: "text-align:center"} Loss
          %tr
            %th{style: "text-align:center"} Good
            %th{style: "text-align:center"} Spoiled
            %th{style: "text-align:center"} Good
            %th{style: "text-align:center"} Spoiled
          %tfoot{style: "background-color: #eee;"}
            %tr
              %th{colspan: "3", style: "text-align:center"}= "Total: (Unit)"
              
              - @good_young = OutputTask.sum_output_amount_by_farm(@coconut.uuid, @farm.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000003", @unit.uuid)
              - @spoil_young = OutputTask.sum_output_amount_by_farm(@coconut.uuid, @farm.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000004", @unit.uuid)
              - @good_ripe = OutputTask.sum_output_amount_by_farm(@coconut.uuid, @farm.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000006", @unit.uuid)
              - @spoil_ripe = OutputTask.sum_output_amount_by_farm(@coconut.uuid, @farm.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000007", @unit.uuid)
              - @total_production = @good_young + @spoil_young + @good_ripe + @spoil_ripe
              - @to_finish_wh = OutputTask.sum_output_amount_by_farm(@coconut.uuid, @farm.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000008", @unit.uuid)
              - @free_at_farm = OutputTask.sum_output_amount_by_farm(@coconut.uuid, @farm.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000009", @unit.uuid)
              - @spoil_waste = OutputTask.sum_output_amount_by_farm(@coconut.uuid, @farm.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000010", @unit.uuid)
              - @to_nursery_wh = OutputTask.sum_output_amount_by_farm(@coconut.uuid, @farm.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000011", @unit.uuid)
              - @total_distribution = @to_finish_wh + @free_at_farm + @spoil_waste + @to_nursery_wh
              - @loss = @total_production - @total_distribution
              
              %td
                = @good_young
                %sup Unit
              %td
                = @spoil_young
                %sup Unit
              %td
                = @good_ripe
                %sup Unit
              %td
                = @spoil_ripe
                %sup Unit
              %td
                = @total_production
                %sup Unit
              %td
                = @to_finish_wh
                %sup Unit
              %td
                = @free_at_farm
                %sup Unit
              %td
                = @spoil_waste
                %sup Unit
              %td
                = @to_nursery_wh
                %sup Unit
              %td
                = @total_distribution
                %sup Unit
              %td
                = @loss
                %sup Unit

          %tr
            %td{rowspan: @farm.areas.count, style: "text-align:center"}= @farm.name
            - @farm.zones.each_with_index do |zone, z_index|
              - if z_index == 0 && zone.areas.count > 0
                %td{rowspan: zone.areas.count, style: "text-align:center"}= zone.name
                - zone.areas.each_with_index do |area, a_index|
                  - if a_index == 0
                    %td{style: "text-align:center"}= area.name
                    
                    - @good_young = OutputTask.sum_output_amount(@coconut.uuid, area.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000003", @unit.uuid)
                    - @spoil_young = OutputTask.sum_output_amount(@coconut.uuid, area.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000004", @unit.uuid)
                    - @good_ripe = OutputTask.sum_output_amount(@coconut.uuid, area.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000006", @unit.uuid)
                    - @spoil_ripe = OutputTask.sum_output_amount(@coconut.uuid, area.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000007", @unit.uuid)
                    - @total_production = @good_young + @spoil_young + @good_ripe + @spoil_ripe
                    - @to_finish_wh = OutputTask.sum_output_amount(@coconut.uuid, area.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000008", @unit.uuid)
                    - @free_at_farm = OutputTask.sum_output_amount(@coconut.uuid, area.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000009", @unit.uuid)
                    - @spoil_waste = OutputTask.sum_output_amount(@coconut.uuid, area.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000010", @unit.uuid)
                    - @to_nursery_wh = OutputTask.sum_output_amount(@coconut.uuid, area.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000011", @unit.uuid)
                    - @total_distribution = @to_finish_wh + @free_at_farm + @spoil_waste + @to_nursery_wh
                    - @loss = @total_production - @total_distribution
                    %td
                      = @good_young
                      %sup Unit
                    %td
                      = @spoil_young
                      %sup Unit
                    %td
                      = @good_ripe
                      %sup Unit
                    %td
                      = @spoil_ripe
                      %sup Unit
                    %td
                      = @total_production
                      %sup Unit
                    %td
                      = @to_finish_wh
                      %sup Unit
                    %td
                      = @free_at_farm
                      %sup Unit
                    %td
                      = @spoil_waste
                      %sup Unit
                    %td
                      = @to_nursery_wh
                      %sup Unit
                    %td
                      = @total_distribution
                      %sup Unit
                    %td
                      = @loss
                      %sup Unit
                    
                  - else
                    %tr
                      %td{style: "text-align:center"}= area.name
                      
                      - @good_young = OutputTask.sum_output_amount(@coconut.uuid, area.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000003", @unit.uuid)
                      - @spoil_young = OutputTask.sum_output_amount(@coconut.uuid, area.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000004", @unit.uuid)
                      - @good_ripe = OutputTask.sum_output_amount(@coconut.uuid, area.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000006", @unit.uuid)
                      - @spoil_ripe = OutputTask.sum_output_amount(@coconut.uuid, area.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000007", @unit.uuid)
                      - @total_production = @good_young + @spoil_young + @good_ripe + @spoil_ripe
                      - @to_finish_wh = OutputTask.sum_output_amount(@coconut.uuid, area.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000008", @unit.uuid)
                      - @free_at_farm = OutputTask.sum_output_amount(@coconut.uuid, area.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000009", @unit.uuid)
                      - @spoil_waste = OutputTask.sum_output_amount(@coconut.uuid, area.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000010", @unit.uuid)
                      - @to_nursery_wh = OutputTask.sum_output_amount(@coconut.uuid, area.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000011", @unit.uuid)
                      - @total_distribution = @to_finish_wh + @free_at_farm + @spoil_waste + @to_nursery_wh
                      - @loss = @total_production - @total_distribution
                      %td
                        = @good_young
                        %sup Unit
                      %td
                        = @spoil_young
                        %sup Unit
                      %td
                        = @good_ripe
                        %sup Unit
                      %td
                        = @spoil_ripe
                        %sup Unit
                      %td
                        = @total_production
                        %sup Unit
                      %td
                        = @to_finish_wh
                        %sup Unit
                      %td
                        = @free_at_farm
                        %sup Unit
                      %td
                        = @spoil_waste
                        %sup Unit
                      %td
                        = @to_nursery_wh
                        %sup Unit
                      %td
                        = @total_distribution
                        %sup Unit
                      %td
                        = @loss
                        %sup Unit
                      
              - elsif zone.areas.count > 0
                %tr
                  %td{rowspan: zone.areas.count, style: "text-align:center"}= zone.name
                  - zone.areas.each_with_index do |area, a_index|
                    - if a_index == 0
                      %td{style: "text-align:center"}= area.name
                      
                      - @good_young = OutputTask.sum_output_amount(@coconut.uuid, area.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000003", @unit.uuid)
                      - @spoil_young = OutputTask.sum_output_amount(@coconut.uuid, area.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000004", @unit.uuid)
                      - @good_ripe = OutputTask.sum_output_amount(@coconut.uuid, area.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000006", @unit.uuid)
                      - @spoil_ripe = OutputTask.sum_output_amount(@coconut.uuid, area.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000007", @unit.uuid)
                      - @total_production = @good_young + @spoil_young + @good_ripe + @spoil_ripe
                      - @to_finish_wh = OutputTask.sum_output_amount(@coconut.uuid, area.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000008", @unit.uuid)
                      - @free_at_farm = OutputTask.sum_output_amount(@coconut.uuid, area.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000009", @unit.uuid)
                      - @spoil_waste = OutputTask.sum_output_amount(@coconut.uuid, area.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000010", @unit.uuid)
                      - @to_nursery_wh = OutputTask.sum_output_amount(@coconut.uuid, area.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000011", @unit.uuid)
                      - @total_distribution = @to_finish_wh + @free_at_farm + @spoil_waste + @to_nursery_wh
                      - @loss = @total_production - @total_distribution
                      %td
                        = @good_young
                        %sup Unit
                      %td
                        = @spoil_young
                        %sup Unit
                      %td
                        = @good_ripe
                        %sup Unit
                      %td
                        = @spoil_ripe
                        %sup Unit
                      %td
                        = @total_production
                        %sup Unit
                      %td
                        = @to_finish_wh
                        %sup Unit
                      %td
                        = @free_at_farm
                        %sup Unit
                      %td
                        = @spoil_waste
                        %sup Unit
                      %td
                        = @to_nursery_wh
                        %sup Unit
                      %td
                        = @total_distribution
                        %sup Unit
                      %td
                        = @loss
                        %sup Unit
                      
                    - else
                      %tr
                        %td{style: "text-align:center"}= area.name
                        
                        - @good_young = OutputTask.sum_output_amount(@coconut.uuid, area.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000003", @unit.uuid)
                        - @spoil_young = OutputTask.sum_output_amount(@coconut.uuid, area.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000004", @unit.uuid)
                        - @good_ripe = OutputTask.sum_output_amount(@coconut.uuid, area.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000006", @unit.uuid)
                        - @spoil_ripe = OutputTask.sum_output_amount(@coconut.uuid, area.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000007", @unit.uuid)
                        - @total_production = @good_young + @spoil_young + @good_ripe + @spoil_ripe
                        - @to_finish_wh = OutputTask.sum_output_amount(@coconut.uuid, area.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000008", @unit.uuid)
                        - @free_at_farm = OutputTask.sum_output_amount(@coconut.uuid, area.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000009", @unit.uuid)
                        - @spoil_waste = OutputTask.sum_output_amount(@coconut.uuid, area.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000010", @unit.uuid)
                        - @to_nursery_wh = OutputTask.sum_output_amount(@coconut.uuid, area.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000011", @unit.uuid)
                        - @total_distribution = @to_finish_wh + @free_at_farm + @spoil_waste + @to_nursery_wh
                        - @loss = @total_production - @total_distribution
                        %td
                          = @good_young
                          %sup Unit
                        %td
                          = @spoil_young
                          %sup Unit
                        %td
                          = @good_ripe
                          %sup Unit
                        %td
                          = @spoil_ripe
                          %sup Unit
                        %td
                          = @total_production
                          %sup Unit
                        %td
                          = @to_finish_wh
                          %sup Unit
                        %td
                          = @free_at_farm
                          %sup Unit
                        %td
                          = @spoil_waste
                          %sup Unit
                        %td
                          = @to_nursery_wh
                          %sup Unit
                        %td
                          = @total_distribution
                          %sup Unit
                        %td
                          = @loss
                          %sup Unit

    %br
    .row
      .col-xs-12
        .pull-right
          %a.btn.btn-primary.print_button#print_button
            %span.glyphicon.glyphicon-print
            Print Report


  - elsif !params[:filter].nil? && params[:filter][:farm_id]=="g_total"
    %br
    .row
      .col-xs-12
        %table.table-bordered{cellpadding: "5px", style: "width:100%"}
          %tr
            %th{rowspan: "3", style: "text-align:center"} Grand Total Production
            %th{colspan: "5", style: "text-align:center"} Total Production
            %th{colspan: "6", style: "text-align:center"} Production Distribution
          %tr
            %th{colspan: "2", style: "text-align:center"} Young Fruit
            %th{colspan: "2", style: "text-align:center"} Ripe Fruit
            %th{rowspan: "2", style: "text-align:center"} Total
            %th{rowspan: "2", style: "text-align:center"} To Finish goods Warehouse
            %th{rowspan: "2", style: "text-align:center"} Free at Farm
            %th{rowspan: "2", style: "text-align:center"} Spoiled Waste
            %th{rowspan: "2", style: "text-align:center"} To Nursery Warehouse
            %th{rowspan: "2", style: "text-align:center"} Total Distribution
            %th{rowspan: "2", style: "text-align:center"} Loss
          %tr
            %th{style: "text-align:center"} Good
            %th{style: "text-align:center"} Spoiled
            %th{style: "text-align:center"} Good
            %th{style: "text-align:center"} Spoiled
          %tfoot{style: "background-color: #eee;"}
            %tr
              %th{style: "text-align:center"}= "Total: (Unit)"
              
              - @good_young = OutputTask.grand_total_output_amount(@coconut.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000003", @unit.uuid)
              - @spoil_young = OutputTask.grand_total_output_amount(@coconut.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000004", @unit.uuid)
              - @good_ripe = OutputTask.grand_total_output_amount(@coconut.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000006", @unit.uuid)
              - @spoil_ripe = OutputTask.grand_total_output_amount(@coconut.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000007", @unit.uuid)
              - @total_production = @good_young + @spoil_young + @good_ripe + @spoil_ripe
              - @to_finish_wh = OutputTask.grand_total_output_amount(@coconut.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000008", @unit.uuid)
              - @free_at_farm = OutputTask.grand_total_output_amount(@coconut.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000009", @unit.uuid)
              - @spoil_waste = OutputTask.grand_total_output_amount(@coconut.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000010", @unit.uuid)
              - @to_nursery_wh = OutputTask.grand_total_output_amount(@coconut.uuid, @start_date, @end_date, "00000000-0000-0000-0000-000000000011", @unit.uuid)
              - @total_distribution = @to_finish_wh + @free_at_farm + @spoil_waste + @to_nursery_wh
              - @loss = @total_production - @total_distribution
              
              %td
                = @good_young
                %sup Unit
              %td
                = @spoil_young
                %sup Unit
              %td
                = @good_ripe
                %sup Unit
              %td
                = @spoil_ripe
                %sup Unit
              %td
                = @total_production
                %sup Unit
              %td
                = @to_finish_wh
                %sup Unit
              %td
                = @free_at_farm
                %sup Unit
              %td
                = @spoil_waste
                %sup Unit
              %td
                = @to_nursery_wh
                %sup Unit
              %td
                = @total_distribution
                %sup Unit
              %td
                = @loss
                %sup Unit

    %br
    .row
      .col-xs-12
        .pull-right
          %a.btn.btn-primary.print_button#print_button
            %span.glyphicon.glyphicon-print
            Print Report

- content_for :javascript_body do
  = javascript_include_tag "report_productivities"
