%table#list_data_table
  %thead
    %tr
      %th.col-md-3= "Name"
      %th.col-md-7= "Note"
      %th.col-md-2= "Actions"
  - @equipment_types.each do |mt|
    %tr
      %td= mt.name
      %td= mt.note
      %td
        - if can? :update, mt
          = link_to "Edit", edit_equipment_type_path(mt)