%table#list_data_table
  %thead
    %tr
      %th.col-md-3= "Name"
      %th.col-md-5= "Note"
      %th.col-md-3= "Status"
      %th.col-md-1= "Actions"
  - @equipment_types.each do |equipment_type|
    %tr
      %td= equipment_type.name
      %td= equipment_type.note
      %td
        = form_for(equipment_type) do |f|
          - if equipment_type.status
            %span{style: "color:green;"}= "active"
            - if can? :update, equipment_type
              |
              #{f.hidden_field :status, value: false}
              #{submit_tag "deactivate", :class => "btn btn-default btn-xs"}
          - else
            %span{style: "color:red;"}= "inactive"
            - if can? :update, equipment_type
              |
              #{f.hidden_field :status, value: true}
              #{submit_tag "activate", :class => "btn btn-default btn-xs"}
      %td
        - if can? :update, equipment_type
          = link_to "Edit", edit_equipment_type_path(equipment_type)