%table#list_data_table
  %thead
    %tr
      %th.col-md-3= "Name"
      %th.col-md-5= "Note"
      %th.col-md-3= "Status"
      %th.col-md-1= "Actions"
  - @equipment_types.each do |mt|
    %tr
      %td= mt.name
      %td= mt.note
      %td
        = form_for(mt) do |f|
          - if mt.status
            %span{style: "color:green;"}= "active"
            |
            #{f.hidden_field :status, value: false}
            #{submit_tag "deactivate", :class => "btn btn-default btn-xs"}
          - else
            %span{style: "color:red;"}= "inactive"
            |
            #{f.hidden_field :status, value: true}
            #{submit_tag "activate", :class => "btn btn-default btn-xs"}
      %td
        - if can? :update, mt
          = link_to "Edit", edit_equipment_type_path(mt)