#form-model-content-supplier
= simple_form_for @material, html: {class: 'form-horizontal'} do |f|
  .container
    .row
      .col-md-7
        .form-group
          %label.col-xs-3.control-label{for: 'material_name'} Name *
          .col-xs-9
            = f.input :name, label: false, input_html: {class: "form-control"}, error_html: {class: "err_msg"}
          
        .form-group
          %label.col-xs-3.control-label{for: 'material category'} Material Category *
          .col-xs-9
            - if @material.persisted?
              %input.form-control{value: @material.material_category.name, readonly: true}
            - else
              = f.association :material_category, label: false, input_html: {class: "form-control"}, error_html: {class: "err_msg"}
          
        .form-group
          %label.col-xs-3.control-label{for: 'unit of measurement'} Unit of Measurement *
          .col-xs-9
            = f.association :unit_of_measurement, label: false, input_html: {class: "form-control"}, error_html: {class: "err_msg"}
          
        .form-group
          %label.col-xs-3.control-label{for: 'supplier'} Supplier
          .col-xs-9
            = f.input :supplier, label: false, input_html: {class: "form-control"}
          
        .form-group
          %label.col-xs-3.control-label{for: 'note'} Note
          .col-xs-9
            = f.input :note, label: false, input_html: {class: "form-control"}
          
        .form-group
          .col-xs-12
            .pull-right
              = render partial: 'form_button', locals: { f: f }
      .col-md-4
        = render "error", :obj => @material
      .col-md-2
