%table#list_data_table
  %thead
    %tr
      %th.col-md-2= "Name"
      %th.col-md-3= "Material Category"
      %th.col-md-2= "Unit of Measurement"
      %th.col-md-2= "Supplier"
      %th.col-md-2= "Note"
      %th.col-md-1= "Action"
  %tbody
    - @materials.each do |material|
      %tr
        %td= material.name
        %td= material.material_category.name
        %td= material.unit_of_measurement.name
        %td= material.supplier
        %td= material.note
        %td
          - if can? :update, material
            = link_to "Edit", edit_material_path(material)
