%table.table
  %thead
    %tr
      %th.col-md-3 Activity
      %th.col-md-3 Activity Date
      %th.col-md-3 Note
      %th.col-md-2 Actions
  - @paginate_activities.each do |activity|
    %tr
      %td= activity.activity_type.name
      %td= activity.starts_at.strftime("%B %d, %Y")
      %td= activity.note
      %td
        - if can? :update, Activity
          = link_to "Edit", edit_activity_path(activity)
        = '|'
        %a.delete-confirm.btn.btn-danger.btn-xs{ "data-id" => activity.id, :href => "#delete-confirm" }
          Delete

        :javascript
          $('#delete-confirm').on('show', function() {
            var $submit = $(this).find('.btn-danger'), href = $submit.attr('href');
            $submit.attr('href', href.replace('pony', $(this).data('id')));
          });

          $('.delete-confirm').click(function(e) {
            e.preventDefault();
            $('#delete-confirm').data('id', $(this).data('id')).modal('show');
          });

        #delete-confirm.modal.fade
          .modal-dialog
            .modal-content 
              .modal-header
                %a.close{"data-dismiss" => "modal"} ×
                Delete this Activity?
              .modal-body
                By clicking on Delete Button, you will destroy this Activity.
              .modal-footer
                %a.btn.btn-default{"data-dismiss" => "modal", :href => "#"} Cancel
                = link_to 'Delete', activity_path(activity.id), method: :delete, class: 'btn btn-danger'

.pull-right
  = paginate @paginate_activities                