.col-lg-12
  %ol.breadcrumb.breadcrumb-sm
    = render_breadcrumbs :separator => " / "
    .pull-right.lg-icon
      %span
        %i.fa.fa-bars.icon-brown
        = link_to "Farms", farms_path
        %span.badge.progress-bar-success= @farms_amount.inspect
      %span &nbsp;
      %span
        %a.all-notification-style{:href => "#"}
          %i.fa.fa-files-o
          Documnets
          %span.badge.progress-bar-success= 3
      %span &nbsp;
      %span
        %a.all-notification-style{:href => "#"}
          %i.fa.fa-hdd-o.icon-green
          Yields
          %span.badge.progress-bar-success= 32