= simple_form_for labor, html: {class: 'form-horizontal'} do |f|
  .form-group
    %label.col-xs-2.control-label{for: 'labor_name'} Name
    .col-xs-5
      = f.input :name, label: false, input_html: {class: "form-control"}
      %span.help-block= f.error :name
  .form-group
    %label.col-xs-2.control-label{for: 'maintenance_name'} Person
    .col-xs-5
      = f.input :position_uuid, label: false, selected: 2, collection: [["Supervisor", 1], ["Worker", 2]], input_html: {class: "form-control"}
      %span.help-block= f.error :labor_uuid
  .form-group
    %label.col-xs-2.control-label{for: 'labor_project_tokens'} Invoke project
    .col-xs-5
      = f.input :project_tokens, label: false
      %span.help-block= f.error :project_tokens
  .form-group
    %label.col-xs-2.control-label{for: 'labor_subordinate_tokens'} Subordinate
    .col-xs-5
      = f.input :subordinate_uuid, label: false
      %span.help-block= f.error :subordinate_uuid
  .form-group
    %label.col-xs-2.control-label{for: 'labor_description'} Note
    .col-xs-5
      = f.input :description, label: false, input_html: {class: "form-control"}
      %span.help-block= f.error :description
  .form-group
    %label.col-xs-2.control-label{for: 'labor_active'} Active
    .col-xs-5
      = f.input :active, label: false, input_html: {style: "margin-top: 12px;"}
      %span.help-block= f.error :active
  .form-group
    .col-xs-7
      .pull-right
        = f.submit class: "btn btn-primary", "data-disable-with" => "Create Tractor..."
        = link_to "Cancel", :back, class: "btn btn-default", "data-disable-with" => "Cancel..."
:javascript
  $("#labor_project_tokens").select2({
    width: 366,
    multiple: true,
    ajax: {
      url: '/labors/projects.json',
      dataType: 'json',
      quietMillis: 100,
      data: function (term) {
        return { term: term };
      },
      results: function (data) {
        var myResults = [];
        $.each(data, function (index, item) {
          myResults.push({
            'id': item.id,
            'text': item.text
          });
        });
        return { results: myResults };
      }
    }
  });

  $("#labor_subordinate_uuid").select2({
    width: 366,
    ajax: {
      url: '/labors/labors.json',
      dataType: 'json',
      quietMillis: 100,
      data: function (term) {
        return { term: term };
      },
      results: function (data) {
        var myResults = [];
        $.each(data, function (index, item) {
          myResults.push({
            'id': item.id,
            'text': item.text
          });
        });
        return { results: myResults };
      }
    }
  });