- if maintenances.present? 
  %table.table
    %thead
      %tr
        %th= "Date"
        %th= "Machinary"
        %th= "Person"
        %th= "Time Spent (hours)"
        %th= "Note"
    %tbody
      - maintenances.each do |maintenance|
        %td= maintenance.created_at.strftime("%Y-%m-%d")
        - if maintenance.tractor.present?
          %td= maintenance.tractor.name
        - elsif maintenance.implement.present?
          %td= maintenance.implement.name
        - if maintenance.labor.present?
          %td= maintenance.labor.name
        - else
          %td= "None"
        %td= maintenance.time_spent
        %td= maintenance.note
