- if maintenances.present?
  %table.table
    %thead
      %tr
        %th= "Date"
        %th= "Machinary"
        %th= "Person"
        %th= "Time Spent (hours)"
        %th= "Note"
    %tbody
      - maintenances.each do |maintenance|
        %td= maintenance.created_at.strftime("%Y-%m-%d")
        %td= maintenance.tractor.name
        %td= maintenance.labor.name
        %td= maintenance.time_spent
        %td= maintenance.note