.navbar.navbar-default.navbar-fixed-top
  .navbar-header
    %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to dashboards_path, method: :put, :class => "navbar-brand" do
      %i.fa.fa-dashboard.fa-lg.icon-yellowish
      SOMA
  #navbar.navbar-collapse.collapse
    %ul.nav.navbar-nav

      %li.dropdown
        %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          %i.fa.fa-gears.fa-lg.icon-greenish
          Initial Setup
          %span.caret
        %ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
          %li
            - if can? :read, App
              = navbar_link "Applications", apps_path, "active"
          %li.dropdown-submenu
            %a{:href => "#", :tabindex => "-1"} Workforce
            %ul.dropdown-menu
              %li
                - if can? :read, Position
                  = navbar_link "Position", positions_path, "active"
              %li
                - if can? :read, Labor
                  = navbar_link "Labor", labors_path, "active"

          - if can? :read, Warehouse
            %li.dropdown-submenu
              %a{:href => "#", :tabindex => "-1"} Inventory
              %ul.dropdown-menu
                %li
                  - if can? :read, Warehouse
                    = navbar_link "Warehouses", warehouses_path, "active"
                %li.divider
                %li
                  - if can? :read, PlantingProject
                    = navbar_link "Planting Project", planting_projects_path, "active"
                %li
                  - if can? :read, Material
                    = navbar_link "Materials", materials_path, "active"
                %li
                  - if can? :read, StockBalance
                    = navbar_link "Materials' Balance", stock_balances_path, "active"
          
          %li.dropdown-submenu
            %a{:href => "#", :tabindex => "-1"} Machinery
            %ul.dropdown-menu
              %li
                = navbar_link "Machinery Types", machinery_types_path, "active"
              %li
                = navbar_link "Machineries", machineries_path, "active"

          %li.dropdown-submenu
            %a{:href => "#", :tabindex => "-1"} Equipment
            %ul.dropdown-menu
              %li
                = navbar_link "Equipment Types", equipment_types_path, "active"
              %li
                = navbar_link "Equipments", equipment_index_path, "active"

      %li.dropdown
        %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          %i.fa.fa-cubes.fa-lg.icon-greenish
          Resources
          %span.caret
        %ul.dropdown-menu{:role => "menu"}
          %li.dropdown-submenu
            %a{:href => "#", :tabindex => "-1"} Materials
            %ul.dropdown-menu
              %li
                - if can? :read, WarehouseMaterialAmount
                  = navbar_link "Adjustments", adjust_stock_balance_path, "active"
              %li.divider
              %li
                = navbar_link "Stock In", stock_ins_path, "active"
              %li.divider
              %li
                = navbar_link "Request", warehouse_item_transactions_path, "active"
              %li
                = navbar_link "Receive", warehouse_material_receiveds_path, "active"
          
          %li.divider
          
          %li
            = navbar_link "Input Tasks", input_tasks_path, "active"
          %li
            = navbar_link "Output Tasks", output_tasks_path, "active"
          
          %li.divider
          
          %li.dropdown-submenu
            %a{:href => "#", :tabindex => "-1"} Nursery Tasks
            %ul.dropdown-menu
              %li
                = navbar_link "Coconut", coconut_nursery_inputs_path, "active"
           
      - if can? :read, Log
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            %i.fa.fa-users.fa-lg.icon-greenish
            Security
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              - if can? :read, User
                = navbar_link "Users", users_path, "active"
            %li
              - if can? :read, UserGroup
                = navbar_link "User Groups", user_groups_path, "active"
            %li.divider
            %li
              - if can? :read, Log
                = navbar_link "Log Tracking", log_tracking_index_path, "active"
              
          
      - if can? :read, Farm
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            %i.fa.fa-leaf.fa-lg.icon-greenish
            Farms
            %span.caret
          %ul.dropdown-menu.nav_trigger{:role => "menu"}
            %li
              = link_to 'All Farms', farms_path
            %li.divider
            = render "farm_names_navigator"
      
      
      %li.dropdown
        %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          %i.fa.fa-area-chart.fa-lg.icon-greenish
          Plans
          %span.caret
        %ul.dropdown-menu{:role => "menu"}
          %li.dropdown-submenu
            %a{:href => "#", :tabindex => "-1"} Location
            %ul.dropdown-menu
              %li
                - if can? :read, PlanFarm 
                  = navbar_link "Plan", plan_farms_path, "active"
              %li
                - if can? :index, :production_list
                  = navbar_link "Report", production_list_index_path, "active"
          %li.dropdown-submenu
            %a{:href => "#", :tabindex => "-1"} Production
            %ul.dropdown-menu
              %li
                - if can? :read, ProductionStandard
                  = navbar_link "Standard", production_standards_path, "active"
              %li
                - if can? :read, ProductionPlan
                  = navbar_link "Plan", production_plans_path, "active"
              %li
                - if can? :index, :production_plan_report
                  = navbar_link "Report", production_plan_report_index_path, "active"
          %li
            = navbar_link "Process & Implement", "#", "active"
      
      - if can? :index, :input_uses
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            %i.fa.fa-bar-chart-o.fa-lg.icon-greenish
            Reports
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li.dropdown-submenu
              %a{:href => "#", :tabindex => "-1"} Input Use Summary
              %ul.dropdown-menu
                %li
                  - if can? :index, :input_uses
                    = navbar_link "Coconut", input_uses_coconut_path, "active"
                %li
                  - if can? :index, :input_uses
                    = navbar_link "Jackfruit", input_uses_jackfruit_path, "active"
            %li.dropdown-submenu
              %a{:href => "#", :tabindex => "-1"} Productivity
              %ul.dropdown-menu
                %li
                  - if can? :coconut_index, :report_productivities
                    = navbar_link "Coconut", report_productivities_coconut_index_path, "active"
                %li
                  - if can? :jackfruit_index, :report_productivities
                    = navbar_link "Jackfruit", report_productivities_jackfruit_index_path, "active"
            %li.dropdown-submenu
              %a{:href => "#", :tabindex => "-1"} Classification
              %ul.dropdown-menu
                %li
                  - if can? :coconut_index, :report_classifications
                    = navbar_link "Coconut", report_classifications_coconut_index_path, "active"
                %li
                  - if can? :jackfruit_index, :report_classifications
                    = navbar_link "Jackfruit", report_classifications_jackfruit_index_path, "active"

            %li.dropdown-submenu
              %a{:href => "#", :tabindex => "-1"} Nursery
              %ul.dropdown-menu
                %li
                  = navbar_link "Coconut", report_nurseries_coconut_index_path, "active"
            
            %li.dropdown-submenu
              %a{:href => "#", :tabindex => "-1"} Inventory
              %ul.dropdown-menu
                %li
                  - if can? :jackfruit_index, :report_classifications
                    = navbar_link "Summary Report", report_inventory_path, "active"

      %li.dropdown
        %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          %i.fa.fa-question.fa-lg.icon-greenish
          Help
          %span.caret
        %ul.dropdown-menu{:role => "menu"}
          %li
            = navbar_link "User Manual", user_manual_path, "active"
          %li
            = navbar_link "Support", support_path, "active"

    / Right Navigator Menu
    = render 'navbar_right'