.navbar.navbar-default.navbar-fixed-top
  .navbar-header
    %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to dashboards_path, method: :put, :class => "navbar-brand" do
      %i.fa.fa-dashboard.fa-lg.icon-yellowish
      Agriculture System
  #navbar.navbar-collapse.collapse
    %ul.nav.navbar-nav

      %li.dropdown
        %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          %i.fa.fa-gears.fa-lg.icon-greenish
          Initial Setup
          %span.caret
        %ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
          %li.dropdown-submenu
            %a{:href => "#", :tabindex => "-1"} Workforce
            %ul.dropdown-menu
              %li
                - if can? :read, Position
                  = navbar_link "Position", positions_path, "active"
              %li
                - if can? :read, Labor
                  = navbar_link "Labor", labors_path, "active"
          
          /%li.dropdown-submenu
          /  %a{:href => "#", :tabindex => "-1"} Production
          /  %ul.dropdown-menu
          /    %li
          /      - if can? :read, Phase
          /        = navbar_link "Phase", phases_path, "active"
          /    %li
          /      - if can? :read, ProductionStage
          /        = navbar_link "Stage", production_stages_path, "active"    
          /    %li
          /      - if can? :read, ProductionStatus
          /        = navbar_link "Tree Status", production_statuses_path, "active"

          %li.dropdown-submenu
            %a{:href => "#", :tabindex => "-1"} Inventory
            %ul.dropdown-menu
              /%li.dropdown-header.dropdown-header-custom-font.bg-color-blue.text-color-white WAREHOUSE
              %li
                - if can? :read, Warehouse
                  = navbar_link "Warehouses", warehouses_path, "active"
              /%li
              /  - if can? :read, WarehouseType
              /    = navbar_link "Warehouse Type", warehouse_types_path, "active"
              %li.divider
              %li
                - if can? :read, PlantingProject
                  = navbar_link "Planting Project", planting_projects_path, "active"
              /%li.dropdown-header.dropdown-header-custom-font.bg-color-blue.text-color-white MATERIAL
              %li
                - if can? :read, Material
                  = navbar_link "Materials", materials_path, "active"
              /%li
              /  - if can? :read, MaterialCategory
              /    = navbar_link "Material Category", material_categories_path, "active"
              /%li
              /  - if can? :read, UnitOfMeasurement
              /    = navbar_link "Unit of Measurement", unit_of_measurement_index_path, "active"
              /%li.divider
              /%li.dropdown-header.dropdown-header-custom-font.bg-color-blue.text-color-white OUTPUT
              %li
                - if can? :read, Production
                  = navbar_link "Production", productions_path, "active"
          
          %li.dropdown-submenu
            %a{:href => "#", :tabindex => "-1"} Machinery
            %ul.dropdown-menu
              %li
                = navbar_link "Machinery Types", machinery_types_path, "active"
              %li
                = navbar_link "Machineries", machineries_path, "active"

          %li.dropdown-submenu
            %a{:href => "#", :tabindex => "-1"} Equipment
            %ul.dropdown-menu
              %li
                = navbar_link "Equipment Types", equipment_types_path, "active"
              %li
                = navbar_link "Equipments", equipment_index_path, "active"
          %li.divider
          %li
            = navbar_link "Settings", settings_path, "active"

      %li.dropdown
        %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          %i.fa.fa-cubes.fa-lg.icon-greenish
          Resources
          %span.caret
        %ul.dropdown-menu{:role => "menu"}
          %li.dropdown-submenu
            %a{:href => "#", :tabindex => "-1"} Materials
            %ul.dropdown-menu
              %li
                = navbar_link "In Stock", warehouse_material_amounts_path, "active"
              %li
                = navbar_link "Adjustments", material_adjustments_path, "active"
              %li.divider
              %li
                = navbar_link "Transfer In", stock_ins_path, "active"
              %li.divider
              %li
                = navbar_link "Request", warehouse_item_requested_transactions_path, "active"
              %li
                = navbar_link "Receive", warehouse_material_receiveds_path, "active"
              
          %li.dropdown-submenu
            %a{:href => "#", :tabindex => "-1"} Productions
            %ul.dropdown-menu
              %li
                = navbar_link "In Stock", warehouse_production_amounts_path, "active"
              %li
                = navbar_link "Adjustments", production_adjustments_path, "active"
              %li.divider
              %li
                = navbar_link "Distribution", "#", "active"
          
          %li.divider
          
          %li
            = navbar_link "Input Tasks", input_tasks_path, "active"
          %li
            = navbar_link "Output Tasks", output_tasks_path, "active"
          
      / %li.dropdown
      /   %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
      /     %i.fa.fa-cog.fa-lg.icon-greenish
      /     Pre-Setup
      /     %span.caret
      /   %ul.dropdown-menu{:role => "menu"}
      /     %li
      /       - if can? :read, ImplementType
      /         = navbar_link "Implement Type", implement_types_path, "active"
      /     %li
      /       - if can? :read, Supplier
      /         = navbar_link "Supplier", suppliers_path, "active"
      /     %li.divider
      /     %li
      /       - if can? :read, Plan
      /         = navbar_link "Plans", plans_path, "active"
      /     %li
      /       - if can? :read, Coconut
      /         = navbar_link "Coconut", coconuts_path, "active"
      /     %li
      /       - if can? :read, JackFruit
      /         = navbar_link "Jackfruit", jack_fruits_path, "active"
            
      %li.dropdown
        %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          %i.fa.fa-users.fa-lg.icon-greenish
          Security
          %span.caret
        %ul.dropdown-menu{:role => "menu"}
          %li
            - if can? :read, User
              = navbar_link "Users", users_path, "active"
          %li
            - if can? :read, UserGroup
              = navbar_link "User Groups", user_groups_path, "active"
          %li.divider
          %li
            - if can? :read, Version
              = navbar_link "Log Tracking", log_tracking_index_path, "active"
              
          
      %li.dropdown
        %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          %i.fa.fa-leaf.fa-lg.icon-greenish
          Farms
          %span.caret
        %ul.dropdown-menu.nav_trigger{:role => "menu"}
          %li
            - if can? :read, Farm
              = link_to 'All Farms', farms_path
          %li.divider
          = render "farm_names_navigator"
      /%li.dropdown
      /  %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
      /    %i.fa.fa-area-chart.fa-lg.icon-greenish
      /    Plans
      /    %span.caret
      /  %ul.dropdown-menu{:role => "menu"}
      /    %li
      /      %a{:href => "#"} Labors
      /    %li
      /      %a{:href => "#"} Application
      /    %li
      /      %a{:href => "#"} Phase
      /    %li
      /      %a{:href => "#"} Plant Types
      /   %li
      /      %a{:href => "#"} Production Stage
      /    %li.divider
      /    %li.dropdown-header.dropdown-header-custom-font.bg-color-red.text-color-white Material
      /    %li
      /      %a{:href => "#"} Fertilizer
      /    %li
      /      %a{:href => "#"} Pesticide
      /    %li
      /      %a{:href => "#"} Machinery
      /    %li
      /      %a{:href => "#"} Hand Tools
      %li.dropdown
        %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          %i.fa.fa-bar-chart-o.fa-lg.icon-greenish
          Reports
          %span.caret
        %ul.dropdown-menu{:role => "menu"}
          %li
            %a{:href => input_uses_path} Input Use Summary
          %li
            %a{:href => "#"} Output Summary
          %li.divider
          %li
            %a{:href => "#"} Products Classification
          %li
            %a{:href => "#"} Stock / Inventory Summery

    / Right Navigator Menu
    = render 'navbar_right'