#sidebar.sidebar-offcanvas{:role => "navigation"}
  .sidebar-nav
    %ul.nav
      %li PRE SETUP
      = navbar_link "Implement Type", implement_types_path, "active"
      = navbar_link "Supplier", suppliers_path, "active"
      = navbar_link "Labor", labors_path, "active"
      = navbar_link "Warehouse Type", warehouse_types_path, "active"
      = navbar_link "Stage", stages_path, "active"
      = navbar_link "Plan", plans_path, "active"
      = navbar_link "Coconut", coconuts_path, "active"
      = navbar_link "Jackfruit", jack_fruits_path, "active"
      %li MANAGE
      = navbar_link "Dashboard", dashboards_path, "active"
      / = navbar_link "Coconut", coconuts_path, "active"
      = navbar_link "Material", materials_path, "active"
      = navbar_link "Machinery", machineries_path, "active"
      = navbar_link "Warehouse", warehouses_path, "active"
      = navbar_link "Fields", fields_path, "active"
      / = navbar_link "Jackfruit", jackfruits_path, "active"
      = navbar_link "Calendar", calendars_path, "active"
      = navbar_link "Activity", activities_path, "active"
      = navbar_link "Resource", resources_path, "active"
      = navbar_link "Warehouse", warehouses_path, "active"