#sidebar.sidebar-offcanvas{:role => "navigation"}
  .sidebar-nav
    %ul.nav
      %li PRE SETUP
      %li
        = link_to "Implement Type", implement_types_path
      %li
        = link_to "Supplier", suppliers_path
      %li
        = link_to "Labor", labors_path
      %li
        = link_to "Stage", stages_path  
      %li
        = link_to "Coconut", coconuts_path    
      %li MANAGE
      %li.active
        = link_to "Dashboard", dashboards_path
      %li
        = link_to "Material", materials_path
      %li
        = link_to "Calendar", calendars_path
      %li
        = link_to "Activity", activities_path  
      %li
        = link_to "Machinery", machineries_path
        / - if can? :manage, Zone
        %a{:href => "#"} Zone
      %li
        = link_to 'Resource', resources_path
      %li
        = link_to 'Warehouse Type', warehouse_types_path
      %li
        = link_to 'Warehouse', warehouses_path
      
