= simple_form_for user, url: url_for(:action => 'update_profile', controller: 'users'), :method => 'put', html: { class: "form-horizontal" } do |f|
  / = devise_error_messages!
  .form-group
    %label.col-xs-2.control-label.text-left Email
    .col-xs-5
      = f.input :email, label: false, input_html: { class: "form-control" }
      %span.help-block= f.error :name
    / - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    /   %div
    /     Currently waiting confirmation for: #{resource.unconfirmed_email}
  .form-group
    %label.col-xs-2.control-label.text-left Current password
    .col-xs-5
      = f.input :current_password, autofocus: true, autocomplete: "off", label: false, input_html: { class: "form-control" }        
  .form-group
    %label.col-xs-2.control-label.text-left New password
    .col-xs-5
      = f.input :password, autocomplete: "off", label: false, input_html: { class: "form-control" }
  .form-group
    %label.col-xs-2.control-label.text-left Confirmed password
    .col-xs-5
      = f.input :password_confirmation, autocomplete: "off", label: false, input_html: { class: "form-control" }
  .form-group
    .col-xs-7
      .pull-right
        = f.submit class: "btn btn-primary", "data-disable-with" => "Update"
        = link_to 'Cancel', :back, class: "btn btn-default"
