= simple_form_for warehouse_type, html: { class: "form-horizontal" } do |f|
  .form-group
    %label.col-xs-1.control-label Name
    .col-xs-5
      = f.input :name, label: false, input_html: { class: "form-control" }
      %span.help-block= f.error :name
  .form-group
    %label.col-xs-1.control-label Note
    .col-xs-5
      = f.input :note, label: false, input_html: { class: "form-control" }
      %span.help-block= f.error :note
  .form-group
    %label.col-xs-1.control-label Active
    .col-xs-5
      = f.input :active, label: false
      %span.help-block= f.error :active
  .form-group
    .col-xs-6.col-sm-offset-1
      .pull-right
        = f.submit class: "btn btn-primary", "data-disable-with" => "Update Warehouse Type"
        = link_to 'Cancel', :back, class: "btn btn-default"