- content_for :javascripts do
  = google_map_api_drawing
#map-canvas-field{ style: "width: 100%; height: 500px;" }
#form-model-field.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog{style: "width: 480px;"}
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#modalLabel.modal-title New Field
      = simple_form_for @field, html: {class: 'form-horizontal'} do |f|
        .modal-body
          .form-group
            %label.col-xs-4.control-label{for: 'field_name'} Name
            .col-xs-8
              = f.input :name, label: false, input_html: {class: "form-control"}
              %span.help-block= f.error :name
          .form-group
            %label.col-xs-4.control-label{for: 'field_dimension'} Dimension
            .col-xs-8
              = f.input :dimension, label: false, input_html: {class: "form-control"}
              %span.help-block= f.error :dimension
          .form-group
            %label.col-xs-4.control-label{for: 'field_note'} Note
            .col-xs-8
              = f.input :note, label: false, input_html: {class: "form-control"}
              %span.help-block= f.error :note
          = f.input :lat_long, as: :hidden, label: false, input_html: {class: "form-control"}
          = f.error :lat_long
        .modal-footer
          = f.submit class: "btn btn-primary", "data-disable-with" => "Submitting..."
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Cancel
