= simple_form_for @supplier, html: {class: 'form-horizontal'} do |f|
  .form-group
    %label.col-xs-2.control-label{for: 'supplier_name'} Name
    .col-xs-5
      = f.input :name, label: false, input_html: {class: "form-control"}
      %span.help-block= f.error :name
  .form-group
    %label.col-xs-2.control-label{for: 'supplier_contact_person'} Contact Person
    .col-xs-5
      = f.input :contact_person, label: false, input_html: {class: "form-control"}
      %span.help-block= f.error :contact_person
  .form-group
    %label.col-xs-2.control-label{for: 'supplier_phone'} Phone
    .col-xs-5
      = f.input :phone, label: false, input_html: {class: "form-control"}
      %span.help-block= f.error :phone
  .form-group
    %label.col-xs-2.control-label{for: 'supplier_email'} Email
    .col-xs-5
      = f.input :email, label: false, input_html: {class: "form-control"}
      %span.help-block= f.error :email
  .form-group
    %label.col-xs-2.control-label{for: 'supplier_address'} Address
    .col-xs-5
      = f.input :address, label: false, input_html: {class: "form-control"}
      %span.help-block= f.error :address
  .form-group
    %label.col-xs-2.control-label{for: 'labor_active'} Active
    .col-xs-5
      = f.input :active, label: false
      %span.help-block= f.error :active
  .form-group
    .col-xs-7
      .pull-right
        = render partial: 'form_button', locals: { f: f }
