%table.table
  %thead
    %tr
      %th= "Name"
      %th= "Phone"
      %th= "Email"
      %th= "Status"
  %tbody
    - suppliers.each do |supplier|
      %tr
        %td= supplier.name
        %td= supplier.phone
        %td= supplier.email
        %td
          - if supplier.active
            = "Actived"
          - else
            = "Inactived"
        %td= link_to "Edit", edit_supplier_path(supplier)