%table.table
  %thead
    %tr
      %th.col-md-3= "Name"
      %th.col-md-3= "Name in Khmer"
      %th.col-md-6= "Note"
  - @material_categories.each do |mc|
    %tr
      %td= mc.name
      %td= mc.kh_name
      %td= mc.note
.pull-right
  = paginate @material_categories
