= simple_form_for @plan, html: {class: 'form-horizontal'} do |f|
  .container
    .row
      .col-md-7
        .form-group
          %label.col-xs-2.control-label{for: 'plan_name'} Name *
          .col-xs-9
            = f.input :name, label: false, input_html: {class: "form-control"}, error: false
        .form-group
          %label.col-xs-2.control-label{for: 'plan_quantity'} Quantity *
          .col-xs-9
            = f.input :quantity, label: false, input_html: {class: "form-control"}, error: false
        .form-group
          %label.col-xs-2.control-label{for: 'plan_unit'} Unit
          .col-xs-9
            = f.input :unit, label: false, selected: 2, collection: [["Kg", "Kg"], ["Liter", "Liter"], ["Piece", "Piece"], ["Set", "Set"]], input_html: {class: "form-control"}, error: false
        .form-group
          %label.col-xs-2.control-label{for: 'plan_year'} Year *
          .col-xs-9
            = f.input :year, label: false, input_html: {class: "form-control"}, error: false
        .form-group
          .col-xs-11
            .pull-right
              = render partial: 'form_button', locals: { f: f }
      .col-md-4
        = render "error", :obj => @plan        
