%table.table
  %thead
    %tr
      %th.col-md-4= "Name"
      %th.col-md-3= "Position"
      %th.col-md-2= "Active"
      %td.col-md-1= "Action"
  %tbody
    - @labors.each do |labor|
      %tr
        %td= labor.name
        %td= labor.position_uuid
        - if labor.active
          %td= "Actived"
        - else
          %td= "Inactived"
        %td
          = link_to "Edit", edit_labor_path(labor)
.pull-right
  = paginate @labors