%table.table
  %thead
    %tr
      %th.col-md-5= "Name"
      %th.col-md-3= "Position"
      %th.col-md-2= "Active"
      %th.col-md-2= "Action"
  %tbody
    - @labors.each do |labor|
      %tr
        %td= labor.name
        %td= labor.position_uuid
        %td 
          = form_for(labor) do |f|
            - if labor.active
              %span{style: "color:green;"}= "active"
              |
              #{f.hidden_field :active, value: false}
              #{submit_tag "inactivate", :class => "btn btn-default btn-xs"}
            - else
              %span{:style => "color:red;"}= "inactive"
              |
              #{f.hidden_field :active, value: true}
              #{submit_tag "activate", :class => "btn btn-default btn-xs"}
        %td
          - if can? :update, labor
            = link_to "Edit", edit_labor_path(labor)
.pull-right
  = paginate @labors