%table#list.cell-border{:cellspacing => "0", :width => "100%"}
  %thead
    %tr
      %th.col-md-3= "Name"
      %th.col-md-2= "Position"
      %th.col-md-1= "Gender"
      %th.col-md-3= "Manager"
      %th.col-md-2= "Active"
      %th.col-md-1= "Action"
  %tbody
    - @labors.each do |labor|
      %tr
        %td= labor.name
        %td= labor.position.name
        %td= labor.gender
        %td
          - if labor.labor.blank? == true
            = "N/A"
          - else
            = labor.labor.name
        %td 
          = form_for(labor) do |f|
            - if labor.active
              %span{style: "color:green;"}= "active"
              |
              #{f.hidden_field :active, value: false}
              #{submit_tag "deactivate", :class => "btn btn-default btn-xs"}
            - else
              %span{:style => "color:red;"}= "inactive"
              |
              #{f.hidden_field :active, value: true}
              #{submit_tag "activate", :class => "btn btn-default btn-xs"}
        %td
          - if can? :update, labor
            = link_to "Edit", edit_labor_path(labor)

:javascript
  $(document).ready(function() {
    $('#list').DataTable({
      "aoColumnDefs": [
          { 'bSortable': false, 'aTargets': [ 3,4 ] }
       ]  
     });

  });


  