%h3= "Details"
%table.table
  %tr
    %th= "Name"
    %td= @labor.name
  %tr
    %th= "Position"
    %td= @labor.position_uuid
  %tr
    %th= "Invoke Project"
    %td
      - @labor.projects.each do |project|
        %span.label.label-default= project.name
  %tr
    %th= "Subordinate"
    %td= @labor.labor.name 
  %tr
    %th= "Acitive"
    %td
      - if @labor.active
        = "Yes"
      - else
        = "No"
= link_to "Edit Labor", edit_labor_path(@labor), class: "btn btn-primary", "data-disable-with" => "Edit Labor..."
= link_to "Cancel", :back, class: "btn btn-default", "data-disable-with" => "Cancel..."
