= simple_form_for @warehouse_material_amount, html: { class: "form-horizontal" } do |f|
  .form-group
    %label.col-xs-2.control-label.text-left Material Name *
    .col-xs-4
      = f.association :material, label: false, input_html: {class: "form-control material_id", style: "border-radius: 0"}, error_html: {class: "err_msg"}
    %span.help-block= f.error :material_uuid
  .form-group.warehouse-name
    - @warehouses.each do |warehouse|
      = f.input :warehouse_uuid, label: false, input_html: {class: "", type: "hidden", value: warehouse.uuid}
      %label.col-xs-2.control-label.text-left
        = warehouse.name
      .input-group.col-xs-4
        = f.input :amount, label: false, input_html: {class: "form-control", type: "text", style: "margin-left: 15px;"}
        .input-group-btn{style: "padding-right: 12px;"}
          = f.submit "Save", class: 'btn btn-default'
      %br
 

  / .form-group
  /   .col-xs-6
  /     .pull-right
  /       = render partial: 'form_button', locals: { f: f }


/ :javascript
/   $(document).ready(function() {
/     $('.material_id').change(
/       function() {
/         var material_id = $(".material_id").val();
/         jQuery.ajax({
/           url: "/get_warehouse_data",
/           type: "GET",
/           data: {"material_id" : material_id},
/           dataType: "json",
/           success: function(data){
/             $.each(data, function(i, value) {
/               $(".warehouse_uuid").val(value.uuid);
/               $(".warehouse_name").val(value.name);
/             });
/           }
/         });
/       }
/     );

/   });