- @warehouses.each do |wh|
  .received-header{style: "word-spacing: 0px;font-weight:bolder;"}
    = "Warehouse: " + wh.name
  %hr
  %table.list_data_table
    %thead
      %tr
        %th.col-md-4= "Material Name"
        %th.col-md-3= "Material Category"
        %th.col-md-4= "Qty In Stock"
        %th.col-md-1= "Action"
    %tbody
      - wh.warehouse_material_amounts.joins(:material).order("material_cate_uuid").each do |wh_a|
        %tr{:id => wh_a.uuid}
          %td= wh_a.material.name
          %td= wh_a.material.material_category.name
          %td
            = wh_a.amount
            = "("
            = wh_a.material.unit_of_measurement.name
            = ")"
          %td
            = link_to "Adjust", edit_warehouse_material_amount_path(wh_a), remote: true
        
  %div{style: "height: 35px;"}
.form-modal
:javascript
  $(document).ready(function() {
    $('.list_data_table').DataTable({
      "bSort": false,
      "bFilter": false,
      "bInfo": false,
      "bPaginate": false,
      "columnDefs": [{ "visible": false, "targets": 1 }],
      "order": [[ 1, 'asc' ]],
      "drawCallback": function ( settings ) {
            var api = this.api();
            var rows = api.rows( {page:'current'} ).nodes();
            var last=null;
 
            api.column(1, {page:'current'} ).data().each( function ( group, i ) {
                if ( last !== group ) {
                    $(rows).eq( i ).before(
                        '<tr class="group"><td colspan="3">'+group+'</td></tr>'
                    );
 
                    last = group;
                }
            } );
        }
    });
    
    function getUrlParameter(sParam) {
      var sPageURL = window.location.search.substring(1);
      var sURLVariables = sPageURL.split('&');
      for (var i = 0; i < sURLVariables.length; i++) 
      {
        var sParameterName = sURLVariables[i].split('=');
        if (sParameterName[0] == sParam) 
        {
          return sParameterName[1];
        }
      }
    }
    
    var wha_id = getUrlParameter('wha_id');
    
    if (typeof wha_id !== 'undefined') {
      $("#"+wha_id).attr('class', 'modified');
      $('html, body').animate({
        scrollTop: $("#"+wha_id).offset().top - 50
      }, 500);
    }
  });