= simple_form_for @phase, html: { class: "form-horizontal" } do |f|
  .container
    .row
      .col-md-7
        .form-group
          %label.col-xs-3.control-label Name *
          .col-xs-9
            = f.input :name, label: false, input_html: { class: "form-control" }, error: false
        .form-group
          %label.col-xs-3.control-label Note
          .col-xs-9
            = f.input :note, label: false, input_html: { class: "form-control" }
        .form-group
          .col-xs-12
            .pull-right
              = render partial: 'form_button', locals: { f: f }
      .col-md-4
        = render "error", :obj => @phase        
