= simple_form_for @warehouse, html: { class: "form-horizontal" } do |f|
  .container
    .row
      .col-md-7
        .form-group
          %label.col-xs-3.control-label.text-left Name *
          .col-xs-9
            = f.input :name, label: false, input_html: { class: "form-control" }, error_html: {class: "err_msg"}
          
        .form-group
          %label.col-xs-3.control-label.text-left Warehouse Type *
          .col-xs-9
            = f.association :warehouse_type, label: false, input_html: {class: "form-control"}, error_html: {class: "err_msg"}
          
        .form-group
          %label.col-xs-3.control-label.text-left Address *
          .col-xs-9
            = f.input :address, label: false, input_html: { class: "form-control" }, error_html: {class: "err_msg"}
          
        .form-group
          %label.col-xs-3.control-label.text-left Note
          .col-xs-9
            = f.input :note, label: false, input_html: { class: "form-control" }
          
        .form-group
          %label.col-xs-3.control-label.text-left Active
          .col-xs-9
            = f.input :active, label: false
          
        .form-group
          .col-xs-12
            .pull-right
              = render partial: 'form_button', locals: { f: f }
      .col-md-4
        = render "error", :obj => @warehouse
      .col-md-2
