%table.table
  %tr.header
    %th Name
    %th Supervisor
    %th Warehouse Type
    %th Active
    %th Actions
  - warehouses.each do |warehouse|
    %tr
      %td= warehouse.name
      %td= warehouse.labor_uuid
      %td= warehouse.warehouse_type.name
      %td
        - if warehouse.active?
          = "active" 
        - else  
          = "inactive"
      %td
        = link_to "Show", warehouse_path(warehouse.id), class: "btn btn-default"
        / - if can? :update, warehouse
        = link_to "Edit", edit_warehouse_path(warehouse.id), class: "btn btn-default"