%h1 Warehouse Information
%div
  %table.table
    %tr.header
      %th Fields
      %th Information
    %tr
      %th Name
      %td= @warehouse.name
    %tr
      %th Supervisor
      %td= @warehouse.labor_uuid
    %tr
      %th Warehouse Type
      %td= @warehouse.warehouse_type.name
    %tr
      %th Address
      %td= @warehouse.address    
    %tr
      %th Note
      %td= @warehouse.note
    %tr
      %th Active
      %td
        - if @warehouse.active?
          = "yes" 
        - else  
          = "no"

- if can? :create, Warehouse          
  = link_to "New Warehouse", new_warehouse_path, class: "btn btn-primary"
- if can? :update, Warehouse            
  = link_to "Edit Warehouse", edit_warehouse_path, class: "btn btn-primary"
= link_to "Cancel", :back, class: "btn btn-default"