= simple_form_for @locations, :url => '/locations', :method => :post, html: {class: 'form-horizontal'} do |f|
  .container
    .row
      .col-md-3
        .form-group
          %label.col-xs-3 Name
          .col-xs-9
            = f.input :farm_id, label: false,input_html: { class: "form-control block_id" }, collection: Farm.all.map{ |p| [p.name, p.uuid] }
      .col-md-2
        .form-group
          %label.col-xs-4 Year
          .col-xs-8
            = f.select(:for_year, 8.years.ago.year.. 8.years.from_now.year, {:selected => Date.today.year}, { class: "form-control" })
      = f.simple_fields_for :plan_phases do |phase|
        .col-md-4
          .form-group
            %label.col-xs-3 Phase
            .col-xs-9
              = phase.input :phase_id, label: false, collection: Phase.where(active: true).map{ |p| [p.name, p.uuid] }, input_html: { class: "form-control phase_id" }
              = phase.input :plan_farm_id, as: :hidden, collection: []
        .col-md-3
          .form-group
            %label.col-xs-3 Stage
            .col-xs-9
              = phase.simple_fields_for :plan_production_stages do |stage|
                = stage.input :production_stage_id, collection: [], label: false, input_html: { class: "form-control stage-list" }
              / = phase.input :remark, label: false, input_html: { class: "form-control" }
    .production-status
        
      /   = stage.simple_fields_for :plan_production_statuses do |status|
      /     = status.input :production_status_id, collection: ProductionStatus.where(active: true).map{ |p| [p.name, p.uuid] }
      /     %h2 Area
      /     = status.simple_fields_for :plan_areas do |area|
      /       = area.input :block_id, collection: Block.where(status: 0).map{ |p| [p.area, p.uuid] }
      /       = area.input :tree_amount
    %br
    = render partial: 'form_button', locals: { f: f }

  - content_for :javascript_body do
    = javascript_include_tag "locations"