%h2 Farm
= simple_form_for @locations, :url => '/locations', :method => :post do |f|
  = f.input :farm_id, collection: Farm.all.map{ |p| [p.name, p.uuid] }
  = f.input :for_year, collection: 2010..2020
  %h2 Phase
  = f.simple_fields_for :plan_phases do |phase|
    = phase.input :phase_id, collection: Phase.where(active: true).map{ |p| [p.name, p.uuid] }
    = phase.input :plan_farm_id, collection: Farm.all.map{ |p| [p.name, p.uuid] }
    = phase.input :remark
    %h2 Stagep
    = phase.simple_fields_for :plan_production_stages do |stage|
      = stage.input :production_stage_id, collection: ProductionStage.where(active: true).map{ |p| [p.name, p.uuid] }
      %h2 Status
      = stage.simple_fields_for :plan_production_statuses do |status|
        = status.input :production_status_id, collection: ProductionStatus.where(active: true).map{ |p| [p.name, p.uuid] }
        %h2 Area
        = status.simple_fields_for :plan_areas do |area|
          = area.input :block_id, collection: Block.where(status: 0).map{ |p| [p.area, p.uuid] }
          = area.input :tree_amount
    %br/

  %br/
  %br/
  = render partial: 'form_button', locals: { f: f }