= simple_form_for @locations, :url => '/locations', :method => :post, html: {class: 'form-horizontal'} do |f|
  .container
    .row
      .col-md-3
        .form-group
          %label.col-xs-3 Name
          .col-xs-9
            = f.input :farm_id, label: false,input_html: { class: "form-control farm_id" }, collection: Farm.all.map{ |p| [p.name, p.uuid] }
      .col-md-1
        .form-group
          %label.col-xs-4.margin-year Year
          .col-xs-8
            = f.select(:for_year, 8.years.ago.year.. 8.years.from_now.year, {}, { class: "form-control" })
      .col-md-2
        .form-group
          %label.col-xs-4.margin-zone Zone
          .col-xs-8
            = select(:zone, :zone_id, Zone.where(farm_id: PlanFarm.first.farm_id).map { |f| [f.name, f.uuid] }, { :selected => Block.find(@locations.plan_blocks.first.block_id).area.zone.uuid, include_blank: true}, { class: "form-control zone-list" })

      = f.simple_fields_for :plan_phases do |phase|
        .col-md-3
          .form-group
            %label.col-xs-3.margin-phase Phase
            .col-xs-9
              = phase.input :phase_id, label: false, collection: Phase.where(active: true).map{ |p| [p.name, p.uuid] }, input_html: { class: "form-control phase_id" }
              = phase.input :plan_farm_id, as: :hidden, collection: []
        .col-md-3
          .form-group
            %label.col-xs-3.margin-stage Stage
            .col-xs-9
              = phase.simple_fields_for :plan_production_stages do |stage|
                = stage.input :production_stage_id, collection: ProductionStage.where(active: true).map{ |p| [p.name, p.uuid] }, label: false, input_html: { class: "form-control stage-list" }
                = content_tag "div", id: "products", data: {products: @locations} do
                  %span
      .production-status
        / = stage.simple_fields_for :plan_production_statuses do |status|
        /   = status.input :production_status_id, collection: ProductionStatus.where(active: true).map{ |p| [p.name, p.uuid] }
        /   = status.input :remark, label: "remark", input_html: { class: "form-control" }
        /   = status.simple_fields_for :plan_blocks do |block|

        /     = Block.find(block.object.block_id).name
        /     = block.input :tree_amount
    %br
    = render partial: 'form_button', locals: { f: f }

  - content_for :javascript_body do
    = javascript_include_tag "locations"