!!!
%html
  %head
    %title= full_title(yield(:title))
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    = stylesheet_link_tag "application", :media => "all"
    = google_map_api_drawing
    = google_chart_api
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :javascript_head
  %body{style: "margin-top: 35px;background-image: url('/assets/bg.jpg');background-attachment: fixed;"}
    .container
      .row
        = render 'navbar_top'
      .row
        = render "breadcrumb"
        = render 'notification'
      / .row
      /   .col-lg-2
      /     = render 'sidebar_left'
      .row
        .col-lg-12
          = yield
      .row
        / = debug(params) if Rails.env.development?
    = render 'footer'
= yield :javascript_body
:javascript
  $(document).ready(function() {
    $('#list_data_table').DataTable({
      "bSort": false
    });
  });