= simple_form_for @implement, html: {class: 'form-horizontal', multipart: true} do |f|
  .form-group
    %label.col-xs-2.control-label{for: 'implement_name'} Name
    .col-xs-5
      = f.input :name, label: false, input_html: {class: "form-control"}
      %span.help-block= f.error :name
  .form-group
    %label.col-xs-2.control-label{for: 'implement_year'} Manufacture Year
    .col-xs-5
      = f.input :year, label: false, input_html: {class: "form-control"}
      %span.help-block= f.error :year
  .form-group
    %label.col-xs-2.control-label{for: 'implement_implement_type_uuid'} Implement Type
    .col-xs-5
      = f.input :implement_type_uuid, label: false, selected: @implement.implement_type_uuid, collection: @implement_types, input_html: {class: "form-control"}
      %span.help-block= f.error :implement_type_uuid
  .form-group
    %label.col-xs-2.control-label{for: 'implement_value'} Price
    .col-xs-5
      = f.input :value, label: false, input_html: {class: "form-control"}
      %span.help-block= f.error :value
  .form-group
    %label.col-xs-2.control-label{for: 'implement_note'} Note
    .col-xs-5
      = f.input :note, label: false, input_html: {class: "form-control"}
      %span.help-block= f.error :note
  .form-group
    %label.col-xs-2.control-label{for: 'tractor_photo'} Photo
    .col-xs-5
      = f.input :photo, label: false, input_html: {class: "form-control"}
  .form-group
    .col-xs-7
      .pull-right
        = render partial: 'form_button', locals: { f: f }