.row
  %h3= "#{@implement.name}"
  %hr
.row
  .col-lg-9
    %h4= "Activities"
  .col-lg-3
    .thumbnail.col-md-12
      = link_to edit_implement_path(@implement) do
        = image_tag @implement.photo.url(:medium, timestamp: false)
    %dl.dl-horizontal
      %dt= "Own"
      %dd= "#{@implement.owner_ship}"
